<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12 d-flex">
            <h4 class="text-seccess mr-3">Transferencias</h4>
            <!-- --------------- -->
            <!-- Codigo Compra -->
            <!-- --------------- -->
            <h4 class="text-muted"> /WH/OUT/000005</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-4 d-flex">
            <button class="btn btn-primary text-lg-center mr-2 w-100" data-toggle="modal" data-target="#modal-ver">Crear</button>
            <button class="btn btn-secondary text-lg-center w-100" data-toggle="modal" data-target="#modal-ver">Editar</button>
        </div>
        <div class="col-lg-4 d-flex">
            <select class="form-control mr-2">
                <option>Imprimir</option>
            </select>
            <select class="form-control">
                <option>Accion</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['disponibilidad']" routerLinkActive="text-dark">Comprobar Disponibilidad</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['ordenarProducto']" routerLinkActive="text-dark">Tomar Orden</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['recibirProducto']" routerLinkActive="text-dark">Recoger Producto</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="mx-3">
        <router-outlet></router-outlet>
    </div>
</div>