<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['disponibilidad']" routerLinkActive="text-dark"
                            class="u-pointer-events-none font-weight-bold">Comprobar Disponibilidad</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['ordenarProducto']" routerLinkActive="text-dark"
                            class="u-pointer-events-none font-weight-bold">Ordenar Productos</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="mx-3">
        <router-outlet></router-outlet>
    </div>
</div>