<div class="row mb-3">
    <div class="col-lg-12 d-flex justify-content-between">
        <button class="btn btn-outline-primary text-lg-center px-2 mr-2 w-25" data-toggle="modal" 
            data-target="#modal-crear-orden">Crear</button>
       <button type="button" class="btn btn-primary mx-2"  
        (click)="saveOrden()">
            Realizar entrega
        </button>
    </div>
</div>

<div class="border row">
    <div class="row col-12 mt-3">
        <div class="col-lg-2 mt-2">
            <img src="https://images.unsplash.com/photo-1521897258701-21e2a01f5e8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" 
            alt="" style="max-width: 100%; object-fit: cover;">
        </div>
        <div class="col-lg-5">
            <ul class="list-unstyled">
                <li>Lambayeque Technologies SAC</li>
                <li>20550117968</li>
                <li>Calle Pedro Ruiz 129, Surquillo, Lima, Lima</li>
                <li>Perú</li>
                <li>Teléfono: 2425154</li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul class="list-unstyled">
                <li>Fecha de emisión</li>
                <li>Fecha de Cierre</li>
                <li>Número de Orden</li>
                <li>Empleado</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>18 de febrero del 2019</li>
                <li>18 de febrero del 2018</li>
                <li>FF01-9</li>
                <li>Kevin Venegas</li>
            </ul>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <div class="my-3 ml-5">
        <h3 class="text-center"><dt>GUIA DE REMISION TOO1-2</dt></h3>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="col-12 pl-3 pr-3">
                <p class="text-center text-white bg-dark py-2">Dirección de partida</p>
            </div>
            <div class="col-12 ml-3">
                <p>Calle Pedro Ruiz, CHICLAYO, LAMBAYQUE, PERÚ</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-12">
                <p class="text-center text-white bg-dark py-2">Dirección de llegada</p>
            </div>
            <div class="col-12 ml-3">
                <p>{{ currentClient?.direccion | uppercase }}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-12">
                <p class="text-center text-white bg-dark py-2">REMITENTE</p>
            </div>
            <div class="col-12 ml-3">
                <p>LAMBAYEQUE TECHNOLOGIES</p>
                <div class="d-flex">
                    <p class="font-weight-bold mr-5">RUC </p>
                    <p>20550117659</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12">
                <p class="text-center text-white bg-dark py-2">DESTINATARIO</p>
            </div>
            <div class="col-12 ml-3">
                <p>{{ currentClient.nombre | uppercase }}</p>
                <div class="d-flex">
                    <p class="font-weight-bold mr-5">RUC </p>
                    <p>{{ currentClient.dni }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Producto</th>
                        <th class="text-center" scope="col">Disp Venta</th>
                        <th class="text-center" scope="col">Cst Unitario</th>
                        <th class="text-center" scope="col">Cnt. Solicitada</th>
                        <th class="text-center" scope="col">Mnt. Total</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="listItems.length > 0">
                        <tr *ngFor="let item of listItems">
                            <ng-container>
                                <th scope="col" class="text-center">
                                    {{ item.idNumeroItem }}                                    
                                </th>
                                <td scope="col" class="text-center">
                                    {{ item.nombreItem }}
                                </td>
                                <td scope="col" class="text-center">
                                    {{ item.costoUnitario |currency }}
                                </td>
                                <td scope="col" class="text-center">
                                    {{ item.cantidadSolicitada }}
                                </td>
                                <td scope="col" class="text-center">
                                    {{ (item.cantidadSolicitada * item.costoUnitario) |currency }}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                    <tr>
                        <th scope="col" class="text-center">
                        </th>
                        <td scope="col" class="text-center">
                        </td>
                        <td scope="col" class="text-center">
                        </td>
                        <td scope="col" class="text-center">
                        </td>
                        <td scope="col" class="text-center">
                            {{ listItems[0].costoTotal | currency }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="col-12">
                <p class="text-center text-white bg-dark py-2">TRANSPORTISTA</p>
            </div>
            <div class="col-12 ml-3">
                <ul class="list-unstyled">
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Empresa</li>
                        <li class="ml-3">LAMBAYEQUE TECHNOLOGIES</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">RUC</li>
                        <li class="ml-5">20550117968</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Doc. sustento</li>
                        <li>-</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Conductor</li>
                        <li>Gerardo Espinoza</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-3">DNI conductor</li>
                        <li>068548952</li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-12">
                <p class="text-center text-white bg-dark py-2">DATOS DE LA UNIDAD DE TRANSPORTE</p>
            </div>
            <div class="col-12 ml-3">
                <ul class="list-unstyled">
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Nomb Unidad</li>
                        <li class="ml-2">Camioneta Jumper</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">N° de cetificado</li>
                        <li class="ml-1">20550117968</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Número de placa</li>
                        <li>D5G845</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">MTC</li>
                        <li></li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-lg-12">
            <p class="text-center text-white bg-dark py-2">MOTIVO DEL TRANSPORTE</p>
            <div class="d-flex border-bottom">
                <div class="col-lg-4">
                    <ul class="list-unstyled">
                        <li class="ml-3">1. Venta X</li>
                        <li class="ml-3">2. Venta sujeta a confirmación</li>
                        <li class="ml-3">3. Compra</li>
                        <li class="ml-3">4. Consignación</li>
                        <li class="ml-3">5. Devolución</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <ul class="list-unstyled">
                        <li>6. Traslado entre abastecimientos de la misma empresa</li>
                        <li>7. Traslado de bienes para transformacion</li>
                        <li>8. Recojo de bienes</li>
                        <li>9. Traslado por emision itinerante de comprobante de pago</li>
                        <li>10. Traslado zona primaria</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="list-unstyled">
                        <li>11. Importación</li>
                        <li>12. Exportación</li>
                        <li>13. Venta con entrega</li>
                        <li>14. Otros</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-12 mt-3">
            <ul class="list-unstyled">
                <div class="d-flex">
                    <li class="mx-2">Representación impresa de la </li>
                    <li class="font-weight-bold mr-1">GUIA DE REMISIÓN ELECTRÓNICA</li>
                    <li class="ml-1">, para consultar el documento vista</li>
                </div>
                <li><a href="" class="mx-2">https://LambayequeTecnologies.com/pe</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-crear-orden" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de Entrega de Producto</h5>
            </div>
            <div class="modal-body">
                <form id="formulario" class="formulario" [formGroup]="ordenForm">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-12 d-flex mb-3">
                            <label for="codigo" class="col-form-label text-nowrap">Importe</label>
                            <div class="col-8">
                                <input type="number" class="form-control"
                                    formControlName="importe">
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex mb-3">
                            <label for="codigo" class="col-form-label text-nowrap">Fecha de envio</label>
                            <div class="col-8">
                                <input type="date" class="form-control" 
                                    formControlName="fechaEnvio">
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex mb-3">
                            <label for="codigo" class="col-form-label text-nowrap">Fecha de cierre</label>
                            <div class="col-8">
                                <input type="date" class="form-control" 
                                    formControlName="fechaCierre">
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex mb-3">
                            <label for="codigo" class="col-form-label text-nowrap">Numero de comprobante</label>
                            <div class="col-8">
                                <input type="text" class="form-control" 
                                    formControlName="numeroComprobante">
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex mb-3">
                            <label for="codigo" class="col-form-label text-nowrap">Código factura cliente</label>
                            <div class="col-8">
                                <input type="text" class="form-control" 
                                    formControlName="idCodigoFacturaCliente">
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary mx-2" data-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>