<div class="row mb-3">

    <div class="col-lg-4 d-flex">
        <select class="form-control mr-2">
            <option>Imprimir</option>
        </select>
        <select class="form-control">
            <option>Accion</option>
        </select>
    </div>
</div>
<div class="border row">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <h3 class="text-muted ml-5 mb-5 mt-3"> /WH/OUT/000005</h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha prevista</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Responsable de Nomina</h6>
        </div>
        <div class="col-4">
            <h5 class="text-primary">{{currentUser.nombres}} {{currentUser.apellidos}}</h5>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <table class="table table-striped mx-5">
        <thead>
            <tr>
                <th class="text-center" scope="col">Nombre</th>
                <th class="text-center" scope="col">Apellido</th>
                <th class="text-center" scope="col">Cargo</th>
                <th class="text-center" scope="col">Sueldo</th>
                <th class="text-center" scope="col">Descuento</th>
                <th class="text-center" scope="col">Numero de Cuenta</th>
                <th class="text-center" scope="col">Hora Inicio</th>
                <th class="text-center" scope="col">Hora Fin</th>
                <th class="text-center" scope="col">Crear Nomina</th>
                <th class="text-center" scope="col">Asignar Tiempo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados">
                <th class="text-center">{{empleado.nombres}}</th>
                <td class="text-center">{{empleado.apellidos}}</td>
                <td class="text-center">{{empleado.rol}}</td>
                <td class="text-center">{{empleado.tarifa_pago}}</td>
                <td class="text-center">{{empleado.descuento}}</td>
                <td class="text-center">{{empleado.numeroCuenta}}</td>
                <td class="text-center">{{tiempoForm.get('horaInicio').value}}</td>
                <td class="text-center">{{tiempoForm.get('horaFin').value}}</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary text-lg-center mx-1" data-toggle="modal" data-target="#modal-crear" (click)="CargarUsuarioActual(empleado)">Crear</button>
                    </div>
                </td>
                <td class="text-center">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary text-lg-center mx-1" data-toggle="modal" data-target="#modal-crear-tiempo" (click)="CargarTiempo(empleado)">Crear</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-12 my-3">
    <p class="text-center text-white bg-dark py-1"></p>
</div>
<!-- --------------------------------------------------------- -->
<!-- MODAL PARA CREAR UNA NUEVA VERIFICACION DE DISPONIBILIDAD -->
<!-- --------------------------------------------------------- -->

<div class="modal fade" id="modal-crear" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de Nomina</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="nominaForm">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group ">
                        <div class="justify-content-center">
                            <label for="codigo" class="col-form-label">ID</label>
                            <div class="col-12">
                                <input type="text" class="form-control mr-2" formControlName="idEmpleado" readonly>
                            </div>
                        </div>
                        <!-- Campo FECHA PAGO  -->
                        <div class="form-group">
                            <div class="justify-content-md-center">
                                <label for="codigo" class=" col-form-label">Fecha Pago</label>
                                <div class="col-12">
                                    <input type="date" class="form-control mr-2" formControlName="fechaPago">
                                </div>
                            </div>
                        </div>
                        <!-- Campo Fecha Nomina -->
                        <div class="form-group">
                            <div class="justify-content-md-center">
                                <label for="codigo" class=" col-form-label">Fecha Nomina</label>
                                <div class="col-12">
                                    <input type="date" class="form-control mr-2" formControlName="fechaNomina">
                                </div>
                            </div>
                        </div>
                        <!-- Campo Cantidad de la Nomina -->
                        <div class="justify-content-center">
                            <label for="codigo" class="col-form-label">Cantidad</label>
                            <div class="col-12">
                                <input type="text" class="form-control mr-2" formControlName="cantidad">
                            </div>
                        </div>
                        <!-- Seleccione el numero de Cuenta -->
                        <div class="justify-content-center">
                            <label>Seleccione el numero de cuenta</label>
                            <select class="form-control" formControlName="idNumeroCuenta">
                                <option value="">Seleccione descuento</option>
                                <option *ngFor="let cuenta of numerocuentaSubscription$ |async" value="{{ cuenta.numero_cuenta }}">
                                    {{ cuenta.numero_cuenta }}
                                </option>
                            </select>
                        </div>
                        <!-- Saldo Bruto de la Nomina -->
                        <div class="justify-content-center">
                            <label for="codigo" class="col-form-label">Saldo Bruto</label>
                            <div class="col-12">
                                <input type="text" class="form-control mr-2" placeholder="Jane Doe" formControlName="saldoBruto" readonly>
                            </div>
                        </div>
                        <!-- Seleccione el descuento a la nomina -->
                        <div class="justify-content-center">
                            <label>Seleccione el descuento</label>
                            <select class="form-control" formControlName="idDescuento">
                                <option value="">Seleccione descuento</option>
                                <option *ngFor="let descuento of descuentosSubscription$ |async" value="{{ descuento.id }}">
                                    {{ descuento.descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary mx-2" (click)="addNomina()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------- -->
<!-- MODAL PARA CREAR REGISTRAR TIEMPO DE UNA NOMINA CREADA -->
<!-- --------------------------------------------------------- -->
<div class="modal fade" id="modal-crear-tiempo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de Recomendación</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="tiempoForm">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Codigo Nomina Sueldo</label>
                            <div class="col-12">
                                <input type="text" class="form-control mr-2" placeholder="Jane Doe" formControlName="idNominaSueldo">
                            </div>
                        </div>
                        <div class="justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Codigo Empleado</label>
                            <div class="col-12">
                                <input type="text" class="form-control mr-2" placeholder="Jane Doe" formControlName="idEmpleado">
                            </div>
                        </div>
                        <div class="justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Fecha Registro</label>
                            <div class="col-12">
                                <input type="date" class="form-control mr-2" placeholder="Jane Doe" formControlName="fechaRegistro">
                            </div>
                        </div>
                        <div class="justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Hora Inicio</label>
                            <div class="col-12">
                                <input type="time" class="form-control mr-2" placeholder="Jane Doe" formControlName="horaInicio">
                            </div>
                        </div>
                        <div class="justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Hora Fin</label>
                            <div class="col-12">
                                <input type="time" class="form-control mr-2" placeholder="Jane Doe" formControlName="horaFin">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary mx-2" (click)="addTiempo()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>