<div class="container-fluid">
    <article class="row mb-3">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="u-pointer-events-none" href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="u-pointer-events-none text-dark font-weight-bold">
                             Libro mayor
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </article>
</div>
<div class="border row mx-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Fecha</th>
                <th class="text-center" scope="col">Detalle de Cuenta</th>
                <th class="text-center" scope="col">Descripcion</th>
                <th class="text-center" scope="col">DEBE</th>
                <th class="text-center" scope="col">HABER</th>
                <th class="text-center" scope="col">SALDO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gl of generalLedger">
                <th class="text-center">{{ gl.fecha_pago }}</th>
                <td class="text-center">{{ gl.numero_cuenta }}</td>
                <td class="text-center">{{ gl.descripcion }}</td>
                <td class="text-center">{{ gl.debe | currency }}</td>
                <td class="text-center">{{ gl.haber | currency }}</td>
                <td class="text-center">{{ (gl.debe - gl.haber) | currency }}</td>
            </tr>
            <tr>
                <th class="text-center">TOTAL</th>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">{{ currentTotal | currency }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Divider -->
    <hr class="sidebar-divider">
</div>