<div class="row mb-3">
    <div class="col-lg-4 d-flex">
        <button class="btn btn-primary text-lg-center mr-2 w-100" data-toggle="modal" data-target="#modal-crear">Crear</button>
        <button class="btn btn-secondary text-lg-center w-100" data-toggle="modal" data-target="#modal-ver">Editar</button>
    </div>
    <div class="col-lg-4 d-flex">
        <select class="form-control mr-2">
            <option>Imprimir</option>
        </select>
        <select class="form-control">
            <option>Accion</option>
        </select>
    </div>
</div>
<div class="border row">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <h3 class="text-muted ml-5 mb-5 mt-3"> /WH/OUT/000005</h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha prevista</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Hora Inicio</h6>
        </div>
        <div class="col-4">
            <h5 class="text-primary">18:50:45</h5>
        </div>
        <div class="col-3">
            <h6>Hora Fin</h6>
        </div>
        <div class="col-2">
            <h5 class="text-primary">18:50:45</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Asistente de Compras</h6>
        </div>
        <div class="col-4">
            <h5 class="text-primary">Kevin Venegas Cordova</h5>
        </div>
        <div class="col-3">
            <h6>Producto a Verificar</h6>
        </div>
        <div class="col-2">
            <h5 class="text-primary">Laptop SO022</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Condicones</h6>
        </div>
        <div class="col-8">
            <h6 class="text-primary">La cantidad de productos se entregara con un año de garantia en caso de cualquier fallo preguntar al proveedor.
            </h6>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Producto</th>
                <th class="text-center" scope="col">Cnt. Disponible</th>
                <th class="text-center" scope="col">P. Reorden</th>
                <th class="text-center" scope="col">Cnt. Solicitada</th>
                <th class="text-center" scope="col">Estado</th>
                <th class="text-center" scope="col">Ordenar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">0.0000</td>
                <td class="text-center">0.000 Unidades</td>
                <td class="text-center">
                    <span class="badge badge-success">AVAZTECIDO</span>
                    <span class="badge badge-danger">PEDIR</span>
                </td>
                <div class="ml-5 mt-2">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </tr>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">0.0000</td>
                <td class="text-center">0.000 Unidades</td>
                <td class="text-center">
                    <span class="badge badge-success">AVAZTECIDO</span>
                    <span class="badge badge-danger">PEDIR</span>
                </td>
                <div class="ml-5 mt-2">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </tr>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">0.0000</td>
                <td class="text-center">0.000 Unidades</td>
                <td class="text-center">
                    <span class="badge badge-success">AVAZTECIDO</span>
                    <span class="badge badge-danger">PEDIR</span>
                </td>
                <div class="ml-5 mt-2">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </tr>
        </tbody>
    </table>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="col-lg-12 mt-3">
        <ul class="list-unstyled">
            <div class="d-flex">
                <li class="mx-2">Representación impresa de la </li>
                <li class="font-weight-bold mr-1">GUIA DE VERIFICACIÓN DE DISPONIBILIDAD</li>
                <li class="ml-1">, para consultar el documento vista</li>
            </div>
            <li><a href="" class="mx-2">https://LambayequeTecnologies.com/pe</a></li>
        </ul>
    </div>
</div>

<div class="col-lg-12 my-3">
    <p class="text-center text-white bg-dark py-1"></p>
</div>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mx-2" data-dismiss="modal">TOMAR ORDEN</button>
</div>
<!-- --------------------------------------------------------- -->
<!-- MODAL PARA CREAR UNA NUEVA VERIFICACION DE DISPONIBILIDAD -->
<!-- --------------------------------------------------------- -->

<div class="modal fade" id="modal-crear" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de Recomendación</h5>
            </div>
            <div class="modal-body">
                <form id="formulario" class="formulario" method="POST" action="">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label for="codigo" class=" col-form-label">Inventario</label>
                            <div class="col-6">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <button type="button" class="btn btn-success  mr-3"><i class="fas fa-user-plus"></i></button>
                        </div>
                        <div class="col-lg-6 d-flex">
                            <label for="codigo" class="col-form-label">Empleado</label>
                            <div class="col-6">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <button type="button" class="btn btn-success  mr-3"><i class="fas fa-user-plus"></i></button>
                        </div>
                    </div>
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-12 d-flex">
                            <label for="codigo" class="col-form-label">Descripción</label>
                            <div class="col-10">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Verificación del Producto -->
                    <div class="form-group">
                        <p class="text-center text-muted">VERIFICACIÓN DEL PRODUCTO</p>
                    </div>
                    <!-- Datos del INVENTARIO -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Cantidad</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Punto Reorden</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Costo Unitario</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Datos de FECHA Y HORA -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Fecha</label>
                            <div class="col-8">
                                <input type="date" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Hora Inicio</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Hora Fin</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo CANTIDAD SOLICITADA - DESCRIPCIÓN  -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class=" col-form-label">Cnt. solicitada</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-8 d-flex">
                            <label for="codigo" class="col-form-label">Reorden</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary mx-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>