<div class="row mb-3">
    <div class="col-12 d-flex justify-content-between">
        <section>
            <button class="btn btn-secondary text-lg-center mr-2" data-toggle="modal" 
                data-target="#modal-crear-orden">Detallar</button>
            <button class="btn btn-outline-secondary mr-2" (click)="printSection()">
                Imprimir
            </button>
        </section>
        <section>
            <button class="btn btn-outline-primary mr-2"
                routerLink="/dashboard/compras/disponibilidad">
                Atrás
            </button>
            <button class="btn btn-primary text-lg-center" data-toggle="modal"
                [disabled]="ordenForm.invalid"
                (click)="saveOrden()">Ordenar</button>
        </section>
    </div>
</div>
<div class="border row sh-section-print">
    <div class="col-12 d-flex my-3">
        <div class="col-12 d-flex">
            <h3 class="text-muted">
                {{ ordenForm.get('numeroOrden').value }}
            </h3>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-2 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECHNOLOGIES</h6>
        </div>
        <div class="col-2 border-right">
            <h6>Proveedor</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">{{ currentProveedor?.nombre }}</h6>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-2 border-right">
            <h6>Fecha Pedido</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">{{ ordenForm.get('fechaPedido').value | date }}</h6>
        </div>
        <div class="col-2">
            <h6>Fecha Esperada</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">{{ ordenForm.get('fechaEsperada').value | date }}</h6>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-2 border-right">
            <h6>Descripción</h6>
        </div>
        <div class="col-10">
            <h6 class="text-primary">
                {{ ordenForm.get('descripcion').value }}
            </h6>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-2 border-right">
            <h6>Condiciones</h6>
        </div>
        <div class="col-10">
            <h6 class="text-primary">
                La cantidad de productos se entregara con un año de garantia 
                en caso de cualquier fallo preguntar al proveedor.
            </h6>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <table class="table table-striped mb-4">
        <thead>
            <tr>
                <th class="text-center" scope="col">Número</th>
                <th class="text-center" scope="col">Producto</th>
                <th class="text-center" scope="col">Cantidad disponible</th>
                <th class="text-center" scope="col">Costo unitario</th>
                <th class="text-center" scope="col">Cantidad solicitada</th>
                <th class="text-center" scope="col">Costo total</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="itemsArray">
                <tr *ngFor="let item of itemsArray.controls; let i = index;">
                    <th class="text-center">{{ item.get('idNumeroItem').value }}</th>
                    <td class="text-center">{{ item.get('nombreItem').value }}</td>
                    <td class="text-center">{{ item.get('cantidadDisponible').value }}</td>
                    <td class="text-center">{{ item.get('costoUnitario').value }}</td>
                    <td class="text-center">{{ item.get('cantidadSolicitada').value }}</td>
                    <td class="text-center">{{ item.get('costoTotal').value }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <div class="d-flex justify-content-end mr-3 w-100">
        <h5>Costo Total de pedidos {{ ordenForm.get('precioTotalEsperado').value | currency }}</h5>
    </div>

    <div class="col-lg-12 mt-4">
        <ul class="list-unstyled">
            <div class="d-flex text-dark">
                <li class="mx-2">Representación electrónica de la </li>
                <li class="font-weight-bold mr-1">ORDEN DE COMPRA</li>
            </div>
        </ul>
    </div>
</div>
<div class="col-lg-12 my-3">
    <p class="text-center text-white bg-dark py-1"></p>
</div>

<!-- --------------------------------------------------------- -->
<!-- MODAL PARA CREAR UNA NUEVA VERIFICACION DE DISPONIBILIDAD -->
<!-- --------------------------------------------------------- -->

<div class="modal fade" id="modal-crear-orden" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detallar orden de compra</h5>
            </div>
            <div class="modal-body">
                <section [formGroup]="ordenForm" class="formulario">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-6 d-flex mb-3 justify-content-md-center">
                            <label for="codigo" class="col-form-label mr-2 text-nowrap">
                                Número de orden de compra
                            </label>
                            <input type="text" class="form-control" formControlName="numeroOrden">
                        </div>
                        <div class="col-lg-6 d-flex mb-3">
                            <label for="codigo" class="col-form-label mr-2 text-nowrap">
                                Proveedor
                            </label>
                            <select class="form-control" formControlName="idProveedor" 
                                (change)="handleSetCurrentSupplier($event)">
                                <option value="">Seleccionar proveedor</option>
                                <option *ngFor="let proveedor of lstProveedores" value="{{ proveedor.id }}">
                                    {{ proveedor.nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-6 d-flex mb-3 justify-content-md-center">
                            <label for="codigo" class=" col-form-label mr-2 text-nowrap">
                                Fecha Pedido
                            </label>
                            <input type="date" class="form-control" formControlName="fechaPedido">
                        </div>
                        <div class="col-lg-6 d-flex mb-3">
                            <label for="codigo" class="col-form-label mr-2 text-nowrap">
                                Fecha Esperada
                            </label>
                            <input type="date" class="form-control" formControlName="fechaEsperada">
                        </div>
                        <div class="col-lg-12 d-flex mb-3">
                            <label for="codigo" class=" col-form-label mr-2 text-nowrap">
                                Descripción de compra
                            </label>
                            <input type="text" class="form-control" formControlName="descripcion">
                        </div>
                    </div>

                    <hr class="sidebar-divider">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Número</th>
                                <th scope="col" class="text-center">Producto</th>
                                <th scope="col" class="text-center">Cantidad disponible</th>
                                <th scope="col" class="text-center">Punto reorden</th>
                                <th scope="col" class="text-center">Costo unitario</th>
                                <th scope="col" class="text-center">Cantidad</th>
                                <th scope="col" class="text-center">Costo total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="itemsArray">
                                <tr *ngFor="let item of itemsArray.controls; let i = index;">
                                    <ng-container [formGroup]="item">
                                        <th scope="col" class="text-center">
                                            <input type="text" class="form-control" 
                                                    formControlName="idNumeroItem" readonly="readonly">
                                        </th>
                                        <td scope="col" class="text-center">
                                            <input type="text" class="form-control" 
                                                    formControlName="nombreItem" readonly="readonly">
                                        </td>
                                        <td scope="col" class="text-center">
                                            <input type="text" class="form-control" 
                                                    formControlName="cantidadDisponible" readonly="readonly">
                                        </td>
                                        <td scope="col" class="text-center">
                                            <input type="text" class="form-control" 
                                                    formControlName="puntoReorden" readonly="readonly">
                                        </td>
                                        <td scope="col" class="text-center">
                                            <div class="px-4">
                                                <input type="number" class="form-control" 
                                                    formControlName="costoUnitario" (keyup)="handleCalculateTotal(i)">
                                            </div>
                                        </td>
                                        <td scope="col" class="text-center">
                                            <div class="px-4">
                                                <input type="number" class="form-control" 
                                                    formControlName="cantidadSolicitada" (keyup)="handleCalculateTotal(i)">
                                            </div>
                                        </td>
                                        <td scope="col" class="text-center">
                                            <div class="px-4">
                                                <input type="number" class="form-control" 
                                                    formControlName="costoTotal" readonly="readonly">
                                            </div>
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-lg-end">
                        <label for="codigo" class="col-form-label">Precio Total</label>
                        <div class="col-2">
                            <input type="number" class="form-control mr-2" 
                                formControlName="precioTotalEsperado" readonly>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary px-5" 
                            data-dismiss="modal">Aceptar</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
