<div class="border row">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <h3 class="text-muted ml-5 mb-5 mt-3"> LIBRO MAYOR</h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha prevista</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020 18:48:03</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Ubicacion de Origen</h6>
        </div>
        <div class="col-4">
            <h5 class="text-primary">WH/Stock</h5>
        </div>
        <div class="col-3">
            <h6>Documento Origen</h6>
        </div>
        <div class="col-2">
            <h5 class="text-primary">SO022</h5>
        </div>
    </div>
    <div class="col-12 d-flex my-3">
        <div class="col-8 d-flex">
            <button class="btn btn-primary">Operaciones</button>
            <button class="btn btn-primary">Info adicional</button>
            <button class="btn btn-primary">Nota</button>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Fecha de la Operación</th>
                <th class="text-center" scope="col">N° Correlativo del Libro Diario</th>
                <th class="text-center" scope="col">Descripcion o glosa de la Operación</th>
                <th class="text-center" scope="col">Saldos y Movimientos
                    <div>
                        <th class="text-center" scope="col">Deudor</th>
                        <th class="text-center" scope="col">Acreedor</th>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">01-01-2017</th>
                <td class="text-center">111001</td>
                <td class="text-center">Banco BNB CTA N° 0214-0124-222</td>
                <td>
                    <section>
                        <td class="text-center">10.000</td>
                        <td class="text-center">50,000</td>
                    </section>
                </td>
            </tr>
            <tr>
                <th class="text-center">01-01-2017</th>
                <td class="text-center">111001</td>
                <td class="text-center">Banco BNB CTA N° 0214-0124-222</td>
                <td>
                    <div>
                        <td class="text-center">10.000</td>
                        <td class="text-center">50,000</td>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="text-center">01-01-2017</th>
                <td class="text-center">111001</td>
                <td class="text-center">Banco BNB CTA N° 0214-0124-222</td>
                <td>
                    <div>
                        <td class="text-center">10.000</td>
                        <td class="text-center">50,000</td>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>