<div class="border row mx-5">
    <div class="row col-lg-12 justify-content-end mt-3">
        <div class="d-flex border-bottom border border-info">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li class="ml-3 mt-3">FACTURA ELECTRÓNICA</li>
                    <li class="ml-3">RUC. 20556106909</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row col-lg-12 mt-3 border-bottom">
        <div class="d-flex">
            <ul class="list-unstyled">
                <li class="font-weight-bold ml-3">LAMBAYEQUE TECNOLOGIS S.A.C</li>
                <li class="ml-3">CAL JOAQUIN CAPELLO 547 203 ZONA</li>
                <li class="ml-3">MIRAFLORES-LIMA-LIMA</li>
            </ul>
        </div>
    </div>

    <div class="row col-lg-12 mt-3 border-bottom">
        <div class="d-flex">
            <ul class="list-unstyled">
                <li class="font-weight-bold ml-3">Fecha de Emisión</li>
                <li class="ml-3">02/12/2015</li>
                <li class="font-weight-bold ml-3">Razón Social</li>
                <li class="ml-3">Venta de Software y Hardware</li>
                <li class="font-weight-bold ml-3">RUC</li>
                <li class="ml-3">20556106909</li>
                <li class="font-weight-bold ml-3">Tipo de Moneda</li>
                <li class="ml-3">NUEVOS SOLES</li>
                <li class="font-weight-bold ml-3">Lugar Entrega</li>
                <li class="ml-3">CAL CALLE JOAQUIN CAPELLO 547 DPTO. 203 LIMA-LIMA-MIRAFLORES</li>
            </ul>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Unidad Medida</th>
                <th scope="col" class="text-center">Código</th>
                <th scope="col" class="text-center">Descripción</th>
                <th scope="col" class="text-center">Valor Unitario</th>
                <th scope="col" class="text-center">Descuento</th>
                <th scope="col" class="text-center">IGV</th>
                <th scope="col" class="text-center">Importe Item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">1</th>
                <td class="text-center">UNIDAD</td>
                <td class="text-center">LAPTOP</td>
                <td class="text-center">TALLER DE INFORME DE VENTAS</td>
                <td class="text-center">2.500</td>
                <td class="text-center">230</td>
                <td class="text-center">32.5</td>
                <td class="text-center">212.40</td>
            </tr>
            <tr>
                <th class="text-center" class="text-center">1</th>
                <td class="text-center" class="text-center">UNIDAD</td>
                <td class="text-center" class="text-center">LAPTOP</td>
                <td class="text-center" class="text-center">TALLER DE INFORME DE VENTAS</td>
                <td class="text-center" class="text-center">2.500</td>
                <td class="text-center" class="text-center">230</td>
                <td class="text-center" class="text-center">32.5</td>
                <td class="text-center" class="text-center">212.40</td>
            </tr>
            <tr>
                <th class="text-center">1</th>
                <td class="text-center">UNIDAD</td>
                <td class="text-center">LAPTOP</td>
                <td class="text-center">TALLER DE INFORME DE VENTAS</td>
                <td class="text-center">2.500</td>
                <td class="text-center">230</td>
                <td class="text-center">32.5</td>
                <td class="text-center">212.40</td>
            </tr>
        </tbody>
    </table>
    <div class="row mt-3 justify-content-end">
        <div class="col-lg-12">
            <ul class="list-unstyled d-flex ml-3">
                <li class="font-weight-bold mr-3">Total Valor Venta Gravada</li>
                <li>$/. 2500</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul class="list-unstyled d-flex ml-3">
                <li class="font-weight-bold mr-3">Descuento</li>
                <li>$/. 2500</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul class="list-unstyled d-flex ml-3">
                <li class="font-weight-bold mr-3">Total IGV(18%)</li>
                <li>$/. 2500</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul class="list-unstyled d-flex ml-3">
                <li class="font-weight-bold mr-3">Importe Total</li>
                <li>$/. 2500</li>
            </ul>
        </div>
    </div>

</div>