<div class="border row mx-5">
    <div class="row col-lg-12 justify-content-end mt-3">
        <div class="d-flex border-bottom border border-info">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li class="ml-3 mt-3">FACTURA ELECTRÓNICA</li>
                    <li class="ml-3">RUC. 20556106909</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row col-lg-12 mt-3 border-bottom">
        <div class="d-flex">
            <ul class="list-unstyled">
                <li class="font-weight-bold ml-3">LAMBAYEQUE TECNOLOGIS S.A.C</li>
                <li class="ml-3">CAL JOAQUIN CAPELLO 547 203 ZONA</li>
                <li class="ml-3">MIRAFLORES-LIMA-LIMA</li>
            </ul>
        </div>
    </div>

    <div class="row col-lg-12 mt-3 border-bottom">
        <div class="d-flex">
            <ul class="list-unstyled">
                <li class="font-weight-bold ml-3">Fecha de Emisión</li>
                <li class="ml-3">02/12/2015</li>
                <li class="font-weight-bold ml-3">Razón Social</li>
                <li class="ml-3">Venta de Software y Hardware</li>
                <li class="font-weight-bold ml-3">RUC</li>
                <li class="ml-3">20556106909</li>
                <li class="font-weight-bold ml-3">Tipo de Moneda</li>
                <li class="ml-3">NUEVOS SOLES</li>
                <li class="font-weight-bold ml-3">Lugar Entrega</li>
                <li class="ml-3">CAL CALLE JOAQUIN CAPELLO 547 DPTO. 203 LIMA-LIMA-MIRAFLORES</li>
            </ul>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Unidad Medida</th>
                <th scope="col" class="text-center">Código</th>
                <th scope="col" class="text-center">Descripción</th>
                <th scope="col" class="text-center">Valor Unitario</th>
                <th scope="col" class="text-center">Descuento</th>
                <th scope="col" class="text-center">IGV</th>
                <th scope="col" class="text-center">Importe Item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">1</th>
                <td class="text-center">UNIDAD</td>
                <td class="text-center">LAPTOP</td>
                <td class="text-center">TALLER DE INFORME DE VENTAS</td>
                <td class="text-center">2.500</td>
                <td class="text-center">230</td>
                <td class="text-center">32.5</td>
                <td class="text-center">212.40</td>
            </tr>
            <tr>
                <th class="text-center" class="text-center">1</th>
                <td class="text-center" class="text-center">UNIDAD</td>
                <td class="text-center" class="text-center">LAPTOP</td>
                <td class="text-center" class="text-center">TALLER DE INFORME DE VENTAS</td>
                <td class="text-center" class="text-center">2.500</td>
                <td class="text-center" class="text-center">230</td>
                <td class="text-center" class="text-center">32.5</td>
                <td class="text-center" class="text-center">212.40</td>
            </tr>
            <tr>
                <th class="text-center">1</th>
                <td class="text-center">UNIDAD</td>
                <td class="text-center">LAPTOP</td>
                <td class="text-center">TALLER DE INFORME DE VENTAS</td>
                <td class="text-center">2.500</td>
                <td class="text-center">230</td>
                <td class="text-center">32.5</td>
                <td class="text-center">212.40</td>
            </tr>
        </tbody>
    </table>
    <div class="row mt-3 justify-content-end">
        <div class="col-lg-12">
            <ul class="list-unstyled d-flex ml-3">
                <li class="font-weight-bold mr-3">Total Valor Venta Gravada</li>
                <li>$/. 2500</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul class="list-unstyled d-flex ml-3">
                <li class="font-weight-bold mr-3">Descuento</li>
                <li>$/. 2500</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul class="list-unstyled d-flex ml-3">
                <li class="font-weight-bold mr-3">Total IGV(18%)</li>
                <li>$/. 2500</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul class="list-unstyled d-flex ml-3">
                <li class="font-weight-bold mr-3">Importe Total</li>
                <li>$/. 2500</li>
            </ul>
        </div>
    </div>

</div>







<div class="container-fluid">
    <!-- Main content -->
    <section class="container">
        <h1 class="text-center text-secondary">Comprobantes de Venta</h1>
        <table class="table table-light text-center">
            <thead>
                <tr>
                    <th class="text-center" scope="col">PROVEEDOR</th>
                    <th class="text-center" scope="col">PRODUCTO</th>
                    <th class="text-center" scope="col">EMPLEADO</th>
                    <th class="text-center" scope="col">VER</th>
                    <th class="text-center" scope="col" colspan="2" class="text-center">
                        ACCIÓN
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cliente</td>
                    <td>cliente</td>
                    <td>cliente</td>
                    <td class="text-center">
                        <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modal-comprobante-compra">
                            <i class="fas fa-eye"></i></button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger mx-2" data-toggle="modal" data-target="#modal-delete-compra">
                                <i class="fas fa-trash-alt"></i> 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>




<!-- --------------------- -->
<!-- MODAL AGREGAR USUARIO -->
<!-- --------------------- -->
<div class="modal fade" id="modal-comprobante-compra" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ingrese los datos para Procesar con el Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formulario" class="formulario" method="POST" action="">
                    <!-- Campo CODIGO DE VENTA  -->
                    <div class="form-group row col-8 d-flex">
                        <label for="codigo" class="col-form-label">Codigo Venta</label>
                        <div class="col-8 ">
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option selected>MN12 121201 FT EMITIDAS TERCEROS MN</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                    </div>
                    <!-- Campo SUBDIARIO VENTA  -->
                    <div class="form-group row">
                        <div class="col-lg-7 d-flex">
                            <label for="codigo" class=" col-form-label">Subdiario</label>
                            <div class="col-9 ml-4">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option selected>01 REGISTRO VENTAS 1</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex">
                            <label for="codigo" class="col-form-label">Comprobante</label>
                            <div class="col-7">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Campo CODIGO CLIENTE - RUC  -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Codigo Cliente</label>
                            <div class="col-8">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex">
                            <div class="col-9">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex">
                            <label for="codigo" class="col-form-label">R.U.C</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo TIPO DOCUMENTO NUMERO DOCUMENTO  -->
                    <div class="form-group row">
                        <div class="col-lg-6 d-flex">
                            <label for="codigo" class="col-form-label">Tipo Docmto</label>
                            <div class="col-9">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex">
                            <label for="codigo" class="col-form-label">R.U.C</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo AREA ANEXO FECHA EMISION  -->
                    <div class="form-group row">
                        <div class="col-lg-5 d-flex">
                            <label for="codigo" class="col-2 col-form-label">Area</label>
                            <div class="col-10">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex">
                            <label for="codigo" class="col-form-label">Anexo Rel</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Fecha Emision</label>
                            <div class="col-8">
                                <input type="date" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo C COSTO - VMTO  -->
                    <div class="form-group row">
                        <div class="col-lg-8 d-flex">
                            <label for="codigo" class="col-form-label">C. Costo</label>
                            <div class="col-6">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Fecha Vmto</label>
                            <div class="col-8 ml-3">
                                <input type="date" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- IGV - ISC - TIPO CONVERSIÓN  -->
                    <div class="form-group row">
                        <div class="col-lg-3 d-flex">
                            <label for="codigo" class="col-form-label">Tipo I.G.V</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex">
                            <label for="codigo" class="col-form-label">Tipo I.S.C</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex">
                            <label for="codigo" class="col-form-label">Tasa I.G.V</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex">
                            <label for="codigo" class="col-form-label">T Conversion</label>
                            <div class="col-7">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo GLOSA COMPROBANTE  -->
                    <div class="form-group row">
                        <div class="col-lg-7 d-flex">
                            <label for="codigo" class=" col-form-label">Glosa Comprob</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Tipo Cambio</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo GLOSA COMPROBANTE  -->
                    <div class="form-group row">
                        <div class="col-lg-7 d-flex">
                            <label for="codigo" class=" col-form-label">Glosa Detalle</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Fecha Cambio</label>
                            <div class="col-8">
                                <input type="date" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer row d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>