<div class="container-fluid">
    <article class="row mb-3">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="u-pointer-events-none" href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="u-pointer-events-none text-dark font-weight-bold">
                            Ordenes de compra
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </article>
    <article class="d-flex justify-content-between mb-3">
        <form class="form-inline navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small border-search" 
                    placeholder="Buscar" (keyup)="handleSearch($event)">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </article>
</div>
<div class="border row mx-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col"># Orden de compra</th>
                <th class="text-center" scope="col">Proveedor</th>
                <th class="text-center" scope="col">Fecha de pedido</th>
                <th class="text-center" scope="col">Fecha de entrega esperada</th>
                <th class="text-center" scope="col">Precio total esperado</th>
                <th class="text-center" scope="col">Estado</th>
                <th class="text-center" scope="col">Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let oc of ordenCompraSubscription$ | async">
                <th class="text-center">{{ oc.numero_orden_compra }}</th>
                <th class="text-center">{{ oc.proveedor }}</th>                
                <td class="text-center">{{ oc.fecha_pedido | date }}</td>
                <td class="text-center">{{ oc.fecha_entrega_esperada | date }}</td>
                <td class="text-center">{{ oc.precio_total_esperado | currency }}</td>
                <td class="text-center">
                    <button class="btn btn-outline-primary" *ngIf="!oc.pago" 
                        data-toggle="modal" data-target="#modal-pagar">
                        Cancelar
                    </button>
                    <span class="badge badge-success" *ngIf="oc.pago">
                        Cancelado
                    </span>
                </td>
                <td class="text-center">
                    <button class="btn btn-primary" data-toggle="modal" 
                        data-target="#modal-factura" (click)="handleGetOrdenesCompra(oc)">
                        <i class="fas fa-eye"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Divider -->
    <hr class="sidebar-divider">
</div>

<!-- --------------------------------------------------------- -->
<!-- MODAL PARA VER LAS ORDENES DE COMPRA -->
<!-- --------------------------------------------------------- -->

<div class="modal fade" id="modal-factura" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Orden de compra</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="border row">
                                <div class="row col-12 justify-content-between  align-items-center mt-3">
                                    <div class="ml-3">
                                        FACTURA PROVEEDOR ASOCIADA: 
                                        <span class="font-weight-bold ml-3">
                                            {{ (currentOrdenCompra?.proveedor_factura) ? currentOrdenCompra.proveedor_factura : 'SIN FACTURA' }}
                                        </span>
                                    </div>
                                    <div class="d-flex border-bottom border border-info">
                                        <div class="col-lg-12">
                                            <ul class="list-unstyled">
                                                <li class="ml-3 mt-3">ORDEN DE COMPRA</li>
                                                <li class="ml-3 font-weight-bold">NUM. {{ currentOrdenCompra?.numero_orden_compra }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-lg-12 mt-3 border-bottom">
                                    <div class="d-flex">
                                        <ul class="list-unstyled">
                                            <li class="font-weight-bold ml-3">LAMBAYEQUE TECHNOLOGIES S.A.C</li>
                                            <li class="ml-3">CHICLAYO-LAMBAYEQUE-PERÚ</li>
                                        </ul>
                                    </div>
                                </div>
                            
                                <div class="row col-lg-12 mt-3 border-bottom">
                                    <div class="d-flex">
                                        <ul class="list-unstyled">
                                            <li class="font-weight-bold ml-3">Fecha de pedido</li>
                                            <li class="ml-3">{{ currentOrdenCompra?.fecha_pedido | date }}</li>
                                            <li class="font-weight-bold ml-3">Fecha de entrega esperada</li>
                                            <li class="ml-3">{{ currentOrdenCompra?.fecha_entrega_esperada | date }}</li>
                                            <li class="font-weight-bold ml-3">Proveedor</li>
                                            <li class="ml-3">{{ currentOrdenCompra?.proveedor }}</li>
                                            <li class="font-weight-bold ml-3">RUC proveedor</li>
                                            <li class="ml-3">{{ currentOrdenCompra?.ruc }}</li>
                                            <li class="font-weight-bold ml-3">Empleado que registro</li>
                                            <li class="ml-3">{{ currentOrdenCompra?.empleado }}</li>
                                            <li class="font-weight-bold ml-3">Descripción</li>
                                            <li class="ml-3">{{ currentOrdenCompra?.descripcion }}</li>
                                        </ul>
                                    </div>
                                </div>                            
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Código</th>
                                            <th scope="col" class="text-center">Producto</th>
                                            <th scope="col" class="text-center">Precio unitario</th>
                                            <th scope="col" class="text-center">Cantidad orden</th>
                                            <th scope="col" class="text-center">Importe total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let odDetail of ordenCompraDetalle">
                                            <th class="text-center">{{ odDetail.id_numero_item }}</th>
                                            <td class="text-center">{{ odDetail.producto }}</td>
                                            <td class="text-center">{{ odDetail.precio_unitario_compra | currency }}</td>
                                            <td class="text-center">{{ odDetail.cantidad_orden }}</td>
                                            <td class="text-center">{{ odDetail.importe | currency }}</td>
                                        </tr>                                      
                                    </tbody>
                                </table>
                                <div class="row mt-3 w-100">
                                    <div class="col-lg-12 d-flex justify-content-end">
                                        <ul class="list-unstyled d-flex ml-3">
                                            <li class="font-weight-bold mr-3">Total esperado</li>
                                            <li>{{ ordenCompraDetalle[0]?.precio_total_esperado | currency }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="sidebar-divider">

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary px-4" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --------------------------------------------------------- -->
<!-- MODAL ASIENTO -->
<!-- --------------------------------------------------------- -->

<div class="modal fade" id="modal-pagar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Realizar pago</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <section class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <label class="mr-3">Cuenta</label>
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                        <h5 class="mb-0 font-weight-bold text-dark">
                            20000
                        </h5>
                    </section>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary px-4" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>