<body class="bg-gradient-primary">
    <div class="container sh-container">
        <!-- Outer Row -->        
        <div class="card o-hidden border-0 shadow-lg sh-card">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image sh-card__img"></div>
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="p-5 w-100">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-5 font-weight-bold">
                                    LAMBAYEQUE TECHNOLOGIES
                                </h1>
                            </div>
                            <form class="user" [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" 
                                        placeholder="username" formControlName="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" 
                                        placeholder="password" formControlName="password">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Ingresar
                                </button>
                            </form>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</body>