<div class="row mb-3">
    <div class="col-lg-4 d-flex">
        <button class="btn btn-primary text-lg-center mr-2 w-100" data-toggle="modal" data-target="#modal-crear">Crear</button>
        <button class="btn btn-secondary text-lg-center w-100" data-toggle="modal" data-target="#modal-ver">Editar</button>
    </div>
    <div class="col-lg-4 d-flex">
        <select class="form-control mr-2">
            <option>Imprimir</option>
        </select>
        <select class="form-control">
            <option>Accion</option>
        </select>
    </div>
</div>
<div class="border row">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <h3 class="text-muted ml-5 mb-5 mt-3"> Registrar tiempo </h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha revisión</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Semanas</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">20/03/2008 al 08/03/2020</h6>
        </div>
        <div class="col-2 ">
            <h6>Nominas</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">Empleados</h5>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Apellido</th>
                <th scope="col" class="text-center">Sueldo Bruto</th>
                <th scope="col" class="text-center">Impuesto de Renta (2%)</th>
                <th scope="col" class="text-center">ARS(2.5%)</th>
                <th scope="col" class="text-center">AFP(3%)</th>
                <th scope="col" class="text-center">Total Descuentos</th>
                <th scope="col" class="text-center">Sueldo Neto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">Kevin</th>
                <td class="text-center">Venegas</td>
                <td class="text-center">$./ 50,000.00</td>
                <td class="text-center">@mdo</td>
                <th class="text-center">1</th>
                <td class="text-center">Mark</td>
                <td class="text-center">Otto</td>
                <td class="text-center">@mdo</td>
            </tr>
            <tr>
                <th class="text-center">Kevin</th>
                <td class="text-center">Venegas</td>
                <td class="text-center">$./ 50,000.00</td>
                <td class="text-center">@mdo</td>
                <th class="text-center">1</th>
                <td class="text-center">Mark</td>
                <td class="text-center">Otto</td>
                <td class="text-center">@mdo</td>
            </tr>
            <tr>
                <th class="text-center">Kevin</th>
                <td class="text-center">Venegas</td>
                <td class="text-center">$./ 50,000.00</td>
                <td class="text-center">@mdo</td>
                <th class="text-center">1</th>
                <td class="text-center">Mark</td>
                <td class="text-center">Otto</td>
                <td class="text-center">@mdo</td>
            </tr>
            <tr>
                <th scope="col" class="text-center">TOTAL</th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center">$./ 30000.00</th>
                <th scope="col" class="text-center">$./ 50000.00</th>
                <th scope="col" class="text-center">$./ 8000.00</th>
                <th scope="col" class="text-center">$./ 1000.00</th>
                <th scope="col" class="text-center">$./6000.00</th>
            </tr>
        </tbody>
    </table>

</div>