<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['crearNomina']" routerLinkActive="text-dark">Crear Nómina</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['registrarTiempo']" routerLinkActive="text-dark">Registrar Tiempo</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['sueldos']" routerLinkActive="text-dark">Sueldos</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="mx-3">
        <router-outlet></router-outlet>
    </div>
</div>