<div class="container-fluid">
    <!-- Main content -->
    <section class="container">
        <h1 class="text-center text-secondary">Registro de Clientes</h1>
        <article class="d-flex justify-content-end mb-3">
            <button class="btn btn-primary text-lg-center" data-toggle="modal" data-target="#modal-add">
                    <i class="fas fa-user-plus"></i>
                </button>
        </article>
        <table class="table table-light text-center">
            <thead>
                <tr>
                    <th class="text-center" scope="col">DNI</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col">Dirección</th>
                    <th class="text-center" scope="col">Teléfono-celular</th>
                    <th class="text-center" scope="col">Numero Cuenta</th>
                    <th class="text-center" scope="col">Saldo Actual</th>
                    <th class="text-center" scope="col" colspan="2" class="text-center">
                        ACCIÓN
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cliente</td>
                    <td>cliente</td>
                    <td>cliente</td>
                    <td>cliente</td>
                    <td>cliente</td>
                    <td>cliente</td>
                    <td class="text-center">
                        <button class="btn btn-primary text-lg-center mx-2" data-toggle="modal" data-target="#modal-updat">
                                <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger mx-2" data-toggle="modal" data-target="#modal-delete">
                                <i class="fas fa-trash-alt"></i> 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>