<div class="border">
    <div class="row col-12">
        <div class="col-lg-2">
            <img src="" alt="">
        </div>
        <div class="col-lg-5">
            <ul class="list-unstyled">
                <li>Lambayeque tecnologies SAC</li>
                <li>20550117968</li>
                <li>Calle Pedro Ruiz 129, Surquillo, Lima, Lima</li>
                <li>Perú</li>
                <li>Teléfono: 2425154</li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul class="list-unstyled">
                <li>Fecha de emisión</li>
                <li>Número de Factura</li>
                <li>Número de Orden</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>18 de febrero del 2019</li>
                <li>18 de febrero del 2018</li>
                <li>FF01-9</li>
            </ul>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <div class="my-3">
        <h3 class="text-center"><dt>GUIA DE REMISION TOO1-2</dt></h3>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="col-12 pl-3 pr-3">
                <p class="text-center text-white bg-dark py-2">Dirección de partida</p>
            </div>
            <div class="col-12 ml-3">
                <p>Calle Pedro Ruiz, SURQUIÑÑP, LIMA, LIMA, PERÚ</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-12">
                <p class="text-center text-white bg-dark py-2">Dirección de llegada</p>
            </div>
            <div class="col-12 ml-3">
                <p>CAL. ELIAS NRO. 126 DPT. 303 LIMA, MIRAFLORES, LIMA, LIMA. PERÚ</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-12">
                <p class="text-center text-white bg-dark py-2">REMITENTE</p>
            </div>
            <div class="col-12 ml-3">
                <p>SISTEMAS DE PUBLICIDAD SAC</p>
                <div class="d-flex">
                    <p class="font-weight-bold mr-5">RUC </p>
                    <p>20550117659</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12">
                <p class="text-center text-white bg-dark py-2">REMITENTE</p>
            </div>
            <div class="col-12 ml-3">
                <p>SERVICIOS DE IMAGENES MÉDICO DENTALES E.I.R.L.- SERIMED E.I.R.L.</p>
                <div class="d-flex">
                    <p class="font-weight-bold mr-5">RUC </p>
                    <p>20550117659</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cant.</th>
                        <th scope="col">Unid.</th>
                        <th scope="col">Peso(Kg)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>33880971</td>
                        <td>500 DVD publicitario venta</td>
                        <td>1</td>
                        <td>Unid.</td>
                        <td>20 Kg.</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>33880971</td>
                        <td>500 DVD publicitario venta</td>
                        <td>1</td>
                        <td>Unid.</td>
                        <td>20 Kg.</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>33880971</td>
                        <td>500 DVD publicitario venta</td>
                        <td>1</td>
                        <td>Unid.</td>
                        <td>20 Kg.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="col-12">
                <p class="text-center text-white bg-dark py-2">TRANSPORTISTA</p>
            </div>
            <div class="col-12 ml-3">
                <ul class="list-unstyled">
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Empresa</li>
                        <li class="ml-3">LAMBAYEQUE TECNOLOGI</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">RUC</li>
                        <li class="ml-5">20550117968</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Doc. sustento</li>
                        <li>-</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Conductor</li>
                        <li>Gerardo Espinoza</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-3">DNI conductor</li>
                        <li>068548952</li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-12">
                <p class="text-center text-white bg-dark py-2">TRANSPORTISTA</p>
            </div>
            <div class="col-12 ml-3">
                <ul class="list-unstyled">
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Nomb Producto</li>
                        <li class="ml-2">Laptop Lenovo</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">N° de cetificado</li>
                        <li class="ml-1">20550117968</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">Número de placa</li>
                        <li>D5G845</li>
                    </div>
                    <div class="d-flex">
                        <li class="font-weight-bold mr-5">MTC</li>
                        <li></li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-lg-12">
            <p class="text-center text-white bg-dark py-2">REMITENTE</p>
        </div>
    </div>
</div>















<div class="">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de Entrega de Producto</h5>
            </div>
            <div class="modal-body">
                <form id="formulario" class="formulario" method="POST" action="">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label for="codigo" class=" col-form-label">Numero Comprobante</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex">
                            <label for="codigo" class="col-form-label">Codigo Factura</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>

                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">


                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class=" col-form-label">Toma Orden</label>
                            <div class="col-7">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Proveedor</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Empleado</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class=" col-form-label">F. Recepcion</label>
                            <div class="col-8">
                                <input type="date" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">F. Vencimiento</label>
                            <div class="col-8">
                                <input type="date" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Deuda</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class=" col-form-label">Cantidad</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Precio Real</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Fecha Pago</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-12 d-flex">
                            <label for="codigo" class=" col-form-label">Tranportista</label>
                            <div class="col-8">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary mx-2">Guardar</button>
                        <button type="button" class="btn btn-primary mx-2">Finalizar Compra</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>