<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-bitcoin"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Account System</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <ng-container *ngFor="let cm of currentMenu">
        <div class="sidebar-heading">
            {{ cm.title }}
        </div>

        <ng-container *ngFor="let item of cm.items">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClients" aria-expanded="true">
                    <i [class]="item.icon"></i>
                    <span>{{ item.title }}</span>
                </a>
                <div id="collapseClients" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" [routerLink]="r.route" *ngFor="let r of item.routes">{{ r.name }}</a>
                    </div>
                </div>
            </li>
        </ng-container>
    </ng-container>
    
</ul>
<!-- End of Sidebar -->