<div class="border row">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <h3 class="text-muted ml-5 mb-5 mt-3"> Cuentas por Pagar</h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha prevista</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020 18:48:03</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Ubicacion de Origen</h6>
        </div>
        <div class="col-4">
            <h5 class="text-primary">WH/Stock</h5>
        </div>
        <div class="col-3">
            <h6>Documento Origen</h6>
        </div>
        <div class="col-2">
            <h5 class="text-primary">SO022</h5>
        </div>
    </div>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Debe</th>
                <th class="text-center" scope="col">Haber</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1000(600) Compra de mercaderias 210 (472) </td>
                <td class="text-center">(400) Proveedores</td>
            </tr>
            <tr>
                <td class="text-center">1000(600) Compra de mercaderias 210 (472) </td>
                <td class="text-center">(400) Proveedores</td>
            </tr>
        </tbody>
    </table>
</div>