<!-- Main content -->
<section class="container-fluid">
    <h1 class="text-center text-secondary">Registro de Empleados</h1>
    <article class="d-flex justify-content-between mb-3">
        <form class="form-inline navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small border-search" placeholder="Buscar" (keyup)="searchEmpleado($event)">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <button class="btn btn-primary text-lg-center" data-toggle="modal" data-target="#modal-add-empleado" (click)="chargeCurrentEmpleadoForAdd()">
            <i class="fas fa-user-plus"></i>
        </button>
    </article>
    <article class="table-responsive">
        <table class="table table-light text-center">
            <thead>
                <tr>
                    <th class="text-center" scope="col">DNI</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col">Apellido</th>
                    <th class="text-center" scope="col">Pago</th>
                    <th class="text-center" scope="col">Cargo</th>
                    <th class="text-center" scope="col">Ver</th>
                    <th class="text-center" scope="col">Credenciales</th>
                    <th class="text-center" scope="col" colspan="2" class="text-center">
                        ACCIÓN
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleadosSubscription$ | async">
                    <td>{{ empleado.dni }}</td>
                    <td>{{ empleado.nombres }}</td>
                    <td>{{ empleado.apellidos }}</td>
                    <td>{{ empleado.tarifa_pago | currency }}</td>
                    <td>{{ empleado.rol }}</td>
                    <td class="text-center">
                        <button class="btn btn-primary text-lg-center mx-2" data-toggle="modal" data-target="#modal-ver" (click)="chargeCurrentEmpleado(empleado)">
                        <i class="fas fa-eye"></i>
                    </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary text-lg-center mx-2" data-toggle="modal" [class.btn-success]="empleado.username" data-target="#modal-login" (click)="chargeCurrentEmpleadoForAuth(empleado)">
                        <i class="fas fa-user"></i>
                    </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary text-lg-center mx-2" data-toggle="modal" data-target="#modal-add-empleado" (click)="chargeCurrentEmpleadoForEdit(empleado)">
                                <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger mx-2" data-toggle="modal" data-target="#modal-delete-empleado" (click)="chargeCurrentEmpleadoForEdit(empleado)">
                                <i class="fas fa-trash-alt"></i> 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</section>
<!-- ----------------------------------- -->
<!-- Ver Todos los datos del Empleado -->
<!-- ----------------------------------- -->
<div class="modal fade" id="modal-ver" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos Completos de la Persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex">
                            <p class="font-weight-bold mr-3">DNI</p>
                            <p>{{ currentEmpleado?.dni }}</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex">
                            <p class="font-weight-bold mr-3">NOMBRE</p>
                            <p>{{ currentEmpleado?.nombres }}</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex">
                            <p class="font-weight-bold mr-3">APELLIDO</p>
                            <p>{{ currentEmpleado?.apellidos }}</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex">
                            <p class="font-weight-bold mr-3">PAGO</p>
                            <p>{{ currentEmpleado?.tarifa_pago | currency }}</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex">
                            <p class="font-weight-bold mr-3">Fecha Nacimiento</p>
                            <p>{{ currentEmpleado?.fecha_nacimiento | date }}</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex">
                            <p class="font-weight-bold mr-3">Fecha Contratación</p>
                            <p>{{ currentEmpleado?.fecha_contratacion | date }}</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex">
                            <p class="font-weight-bold mr-3">Email</p>
                            <p>{{ currentEmpleado?.email }}</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex">
                            <p class="font-weight-bold mr-3">Cargo</p>
                            <p>{{ currentEmpleado?.rol }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- ----------------------------------- -->
<!-- MODAL DAR CREDENCIALES A UN EMPLEADO -->
<!-- ----------------------------------- -->

<div class="modal fade" id="modal-login" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal">Dar Acceso al Sistema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formAuth">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">Usuario</label>
                                <article>
                                    <input type="text" class="form-control" formControlName="username" placeholder="username">
                                </article>
                            </section>
                        </div>
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">Contraseña</label>
                                <article>
                                    <input type="password" class="form-control" formControlName="password" placeholder="password">
                                </article>
                            </section>
                        </div>
                        <div class="form-group col-md-12 d-flex justify-content-end">
                            <section class="container">
                                <button class="btn btn-primary text-center w250" (click)="saveUser()">
                                    Guardar
                                </button>
                            </section>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ----------------------------------- -->
<!-- MODAL PARA CREAR UN NUEVO EMPLEADO -->
<!-- ----------------------------------- -->

<div class="modal fade" id="modal-add-empleado" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal">Crear un nuevo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formEmployee">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">DNI</label>
                                <article>
                                    <input type="text" class="form-control" placeholder="Ingrese DNI" formControlName="dni">
                                </article>
                            </section>
                        </div>
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">Nombre</label>
                                <article>
                                    <input type="text" class="form-control" placeholder="Ingrese nombres" formControlName="nombres">
                                </article>
                            </section>
                        </div>
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">Apellido</label>
                                <article>
                                    <input type="text" class="form-control" placeholder="Ingrese apellidos" formControlName="apellidos">
                                </article>
                            </section>
                        </div>
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">Email</label>
                                <article>
                                    <input type="email" class="form-control" placeholder="Ingrese email" formControlName="email">
                                </article>
                            </section>
                        </div>
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">Fecha Nacimiento</label>
                                <article>
                                    <input type="date" class="form-control" formControlName="fechaNacimiento">
                                </article>
                            </section>
                        </div>
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">Fecha Contratacion</label>
                                <article>
                                    <input type="date" class="form-control" formControlName="fechaContratacion">
                                </article>
                            </section>
                        </div>
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">Tarifa de pago</label>
                                <article>
                                    <input type="number" class="form-control" formControlName="tarifaPago">
                                </article>
                            </section>
                        </div>
                        <div class="col-md-6 mb-3">
                            <section class="container">
                                <label for="saldo">Cargo</label>
                                <article>
                                    <select class="form-control" formControlName="idCargo">
                                        <option value="">Seleccione cargo</option>
                                        <option *ngFor="let cargo of cargosSubscription$ |async" value="{{ cargo.id }}">
                                            {{ cargo.descripcion }}
                                        </option>
                                    </select>
                                </article>
                            </section>
                        </div>
                        <div class="form-group col-md-12 d-flex justify-content-end">
                            <section class="container">
                                <button class="btn btn-primary text-center w-25" (click)="addEmpleado()">
                                    Aceptar
                                </button>
                            </section>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------------- -->
<!-- MODAL PARA ELIMINAR UN CLIENTE EXISTENTE -->
<!-- ----------------------------------- -->
<div class="modal fade" id="modal-delete-empleado" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Eliminar Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="hidden" class="form-control" id="id-orden" name="">
                        </div>
                        <section class="justify-content-center d-flex w-100">
                            <div class="alert alert-primary" role="alert">
                                ¿Desea eliminar un Empleado?
                            </div>
                        </section>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-success btn-block" (click)="deleteCurrentEmpleado()">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>