<div class="row mb-3">
    <div class="col-lg-4 d-flex">
        <button class="btn btn-primary text-lg-center mr-2 w-100" data-toggle="modal" data-target="#modal-crear-recomendacion">Crear</button>
        <button class="btn btn-secondary text-lg-center mr-2 w-100" data-toggle="modal" data-target="#modal-ver">Editar</button>
        <button class="btn btn-success text-lg-center w-100" data-toggle="modal" data-target="#modal-ver">Nuevo Item</button>
    </div>
    <div class="col-lg-4 d-flex">
        <select class="form-control mr-2">
            <option>Imprimir</option>
        </select>
        <select class="form-control mr-2">
            <option>Accion</option>
        </select>
    </div>
</div>
<div class="border row">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <h3 class="text-muted ml-5 mb-5 mt-3"> /WH/OUT/000005</h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha prevista</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Asistente de Ventas</h6>
        </div>
        <div class="col-4">
            <h5 class="text-primary">Kevin Venegas Cordova</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Cliente</h6>
        </div>
        <div class="col-8">
            <h5 class="text-primary">Angie Fiorella</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Condicones</h6>
        </div>
        <div class="col-8">
            <h6 class="text-primary">La cantidad de productos se entregara con un año de garantia en caso de cualquier fallo preguntar al proveedor.
            </h6>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Producto</th>
                <th class="text-center" scope="col">Disp Venta</th>
                <th class="text-center" scope="col">Cst Unitario</th>
                <th class="text-center" scope="col">Cnt. Solicitada</th>
                <th class="text-center" scope="col">Mnt. Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">5,000.0</td>
                <td class="text-center">3</td>
                <td class="text-center">15000</td>
            </tr>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">5,000.0</td>
                <td class="text-center">3</td>
                <td class="text-center">15000</td>
            </tr>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">5,000.0</td>
                <td class="text-center">3</td>
                <td class="text-center">15000</td>
            </tr>
        </tbody>
    </table>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="col-lg-12 mt-3">
        <ul class="list-unstyled">
            <div class="d-flex">
                <li class="mx-2">Representación impresa de la </li>
                <li class="font-weight-bold mr-1">GUIA DE VERIFICACIÓN DE DISPONIBILIDAD</li>
                <li class="ml-1">, para consultar el documento vista</li>
            </div>
            <li><a href="" class="mx-2">https://LambayequeTecnologies.com/pe</a></li>
        </ul>
    </div>
</div>
<div class="col-lg-12 my-3">
    <p class="text-center text-white bg-dark py-1"></p>
</div>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mx-2" data-dismiss="modal">TOMAR ORDEN</button>
</div>






<div class="modal fade" id="modal-crear-recomendacion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de Recomendación</h5>
            </div>
            <div class="modal-body">
                <form id="formulario" class="formulario" method="POST" action="">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class=" col-form-label">Producto</label>
                            <div class="col-8">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <button type="button" class="btn btn-success  mr-3"><i class="fas fa-user-plus"></i></button>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Cliente</label>
                            <div class="col-8">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <button type="button" class="btn btn-success  mr-3"><i class="fas fa-user-plus"></i></button>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Empleado</label>
                            <div class="col-8">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <button type="button" class="btn btn-success  mr-3"><i class="fas fa-user-plus"></i></button>
                        </div>
                    </div>
                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Verificación del Producto -->
                    <div class="form-group">
                        <p class="text-center text-muted">VERIFICACIÓN DEL PRODUCTO</p>
                    </div>
                    <!-- Datos de FECHA Y HORA -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Fecha</label>
                            <div class="col-8">
                                <input type="date" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Hora Inicio</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Hora Fin</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo CANTIDAD SOLICITADA - DESCRIPCIÓN  -->
                    <div class="form-group row">
                        <div class="col-lg-12 d-flex">
                            <label for="codigo" class="col-form-label">Descripción</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">
                    <!-- Topbar Search -->

                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Tipo Items" aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="scroll my-3">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col">Producto</th>
                                    <th class="text-center" scope="col">Disp Venta</th>
                                    <th class="text-center" scope="col">Cst Unitario</th>
                                    <th class="text-center" scope="col">Cnt. Solicitada</th>
                                    <th class="text-center" scope="col">Mnt. Total</th>
                                    <th class="text-center" scope="col">Ordenar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center">Laptop Lenovo</th>
                                    <td class="text-center">1,000</td>
                                    <td class="text-center">5,000.0</td>
                                    <td scope="col" class="text-center">
                                        <div class="d-flex px-5">
                                            <input type="text" class="form-control" placeholder="Jane Doe">
                                        </div>
                                    </td>
                                    <td class="text-center">15000</td>
                                    <div class="ml-5 mt-2">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </tr>
                                <tr>
                                    <th class="text-center">Laptop Lenovo</th>
                                    <td class="text-center">1,000</td>
                                    <td class="text-center">5,000.0</td>
                                    <td scope="col" class="text-center">
                                        <div class="d-flex px-5">
                                            <input type="text" class="form-control" placeholder="Jane Doe">
                                        </div>
                                    </td>
                                    <td class="text-center">15000</td>
                                    <div class="ml-5 mt-2">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </tr>
                                <tr>
                                    <th class="text-center">Laptop Lenovo</th>
                                    <td class="text-center">1,000</td>
                                    <td class="text-center">5,000.0</td>
                                    <td scope="col" class="text-center">
                                        <div class="d-flex px-5">
                                            <input type="text" class="form-control" placeholder="Jane Doe">
                                        </div>
                                    </td>
                                    <td class="text-center">15000</td>
                                    <div class="ml-5 mt-2">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary mx-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>