<div class="row mb-3">
    <div class="col-lg-12 d-flex justify-content-between">
        <div>
            <button class="btn btn-outline-primary text-lg-center px-2 mr-2" data-toggle="modal" 
                data-target="#modal-crear-recomendacion">Crear</button>
            <button class="btn btn-outline-secondary mr-2" (click)="printSection()">
                    Imprimir
            </button>
        </div>
        <button type="button" class="btn btn-primary mx-2"  
            (click)="saveOrden()">
            Registrar recomendación
        </button>
    </div>
</div>
<div class="border row sh-section-print">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <!-- <h3 class="text-muted ml-5 mb-5 mt-3"> /WH/OUT/000005</h3> -->
    </div>
    <div class="col-12 d-flex my-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECHNOLOGIES</h6>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Asistente de Ventas</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">{{ currentUser.nombres }}  {{ currentUser.apellidos }}</h6>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Condicones</h6>
        </div>
        <div class="col-8">
            <h6 class="text-primary">
                La cantidad de productos se entregara con un año de garantía.
            </h6>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <ng-container *ngIf="lstItems.length > 0; else refNov">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Número</th>
                <th class="text-center" scope="col">Producto</th>
                <th class="text-center" scope="col">Cst Unitario</th>
                <th class="text-center" scope="col">Cnt. Solicitada</th>
                <th class="text-center" scope="col">Mnt. Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of lstItems">
                <th class="text-center">{{ item.idNumeroItem }}</th>
                <td class="text-center">{{ item.nombreItem }}</td>
                <td class="text-center">{{ item.costoUnitario | currency }}</td>
                <td class="text-center">{{ item.cantidadSolicitada }}</td>
                <td class="text-center">{{ item.costoTotal | currency }}</td>
            </tr>
        </tbody>
    </table>
    </ng-container>
    <ng-template #refNov>
        <section class="w-100 my-5">
            <h3 class="text-center">Agregue una nueva recomendación</h3>
        </section>
    </ng-template>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="col-lg-12 mt-3">
        <ul class="list-unstyled">
            <div class="d-flex">
                <li class="mx-2">Representación impresa de la </li>
                <li class="font-weight-bold mr-1">GUÍA DE RECOMENDACIÓN</li>
                <li class="ml-1">, para consultar el documento vista</li>
            </div>
            <li><a href="" class="mx-2">https://LambayequeTecnologies.com/pe</a></li>
        </ul>
    </div>
</div>
<div class="col-lg-12 my-3">
    <p class="text-center text-white bg-dark py-1"></p>
</div>



<div class="modal fade" id="modal-crear-recomendacion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de Recomendación</h5>
            </div>
            <div class="modal-body">
                <form id="formulario" class="formulario" [formGroup]="ordenForm">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label text-nowrap">Número Orden</label>
                            <div class="col-12">
                                <input type="text" formControlName="numeroOrden" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4 d-flex">
                            <label for="codigo" class="col-form-label">Cliente</label>
                            <div class="col-12">
                                <select class="custom-select my-1 mr-sm-2" formControlName="idNumeroCliente" 
                                    (change)="handleChargeCurrentClient($event)">
                                    <option value="">Seleccionar cliente</option>
                                    <option *ngFor="let cliente of lstClientes" [value]="cliente.id"> 
                                        {{ cliente.nombre }}
                                    </option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Verificación del Producto -->
                    <div class="form-group">
                        <p class="text-center text-muted font-weight-bold">VERIFICACIÓN DEL PRODUCTO</p>
                    </div>
                    <!-- Campo CANTIDAD SOLICITADA - DESCRIPCIÓN  -->
                    <div class="form-group row">
                        <div class="col-lg-12 d-flex">
                            <label for="codigo" class="col-form-label">Descripción</label>
                            <div class="col-9">
                                <input type="text" class="form-control" formControlName="descripcion">
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">
                    <!-- Topbar Search -->

                    <div class="scroll my-3">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col">Producto</th>
                                    <th class="text-center" scope="col">Disp Venta</th>
                                    <th class="text-center" scope="col">Cst Unitario</th>
                                    <th class="text-center" scope="col">Cnt. Disponible</th>
                                    <th class="text-center" scope="col">Cnt. Solicitada</th>
                                    <th class="text-center" scope="col">Mnt. Total</th>
                                    <th class="text-center" scope="col">Ordenar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="itemsArray">
                                    <tr *ngFor="let item of itemsArray.controls; let i = index;">
                                        <ng-container [formGroup]="item">
                                            <th scope="col" class="text-center">
                                                <input type="text" class="form-control" 
                                                        formControlName="idNumeroItem" readonly="readonly">
                                            </th>
                                            <td scope="col" class="text-center">
                                                <input type="text" class="form-control" 
                                                        formControlName="nombreItem" readonly="readonly">
                                            </td>
                                            <td scope="col" class="text-center">
                                                <div class="px-4">
                                                    <input type="number" class="form-control" 
                                                        formControlName="costoUnitario" readonly="readonly">
                                                </div>
                                            </td>
                                            <td scope="col" class="text-center">
                                                <div class="px-4">
                                                    <input type="number" class="form-control" 
                                                        formControlName="cantidadDisponible" readonly="readonly">
                                                </div>
                                            </td>
                                            <td scope="col" class="text-center">
                                                <div class="px-4">
                                                    <input type="number" class="form-control" 
                                                        formControlName="cantidadSolicitada" (keyup)="handleCalculateTotal(i)">
                                                </div>
                                            </td>
                                            <td scope="col" class="text-center">
                                                <div class="px-4">
                                                    <input type="number" class="form-control" 
                                                        formControlName="costoTotal" readonly="readonly">
                                                </div>
                                            </td>
                                            <div class="ml-5 mt-3">
                                                <input type="checkbox" aria-label="Checkbox for following text input" 
                                                    formControlName="isSelected">
                                            </div>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary mx-2" 
                            data-dismiss="modal" (click)="handleBeforePersist()">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>