<div class="container-fluid">
    <article class="row mb-3">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="u-pointer-events-none" href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="u-pointer-events-none text-dark font-weight-bold">
                            Recepcionar compras
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </article>
</div>
<div class="row mb-3 mx-4">
    <div class="col-12 d-flex justify-content-between">
        <section>
            <button class="btn btn-outline-secondary mr-2" (click)="printSection()">
                Imprimir
            </button>
        </section>
        <section>
            <button class="btn btn-primary text-lg-center" data-toggle="modal"
                [disabled]="recepcionForm.invalid"
                (click)="saveRegister()">Registrar</button>
        </section>
    </div>
</div>
<ng-container [formGroup]="recepcionForm">
    <div class="mx-4 border row">
        <div class="col-12 d-flex my-4 justify-content-between">
            <div class="col-6">
                <h3 class="text-muted mb-0">Formato de recibo de inventario</h3>
            </div>
            <div class="col-4">
                <select class="form-control"  (change)="handleChargeRecibo($event)">
                    <option value="" >Seleccionar orden de compra</option>
                    <option [value]="oc.numero_orden_compra" *ngFor="let oc of ordenesCompraArr">
                        {{ oc.fecha_pedido | date }} - {{ oc.numero_orden_compra }}
                    </option>
                </select>
            </div>
        </div> 
        <div class="col-12 d-flex mb-3">
            <div class="col-3  border-right">
                <h6>Empresa</h6>
            </div>
            <div class="col-4">
                <h6 class="text-primary">LAMBAYEQUE TECHNOLOGIES</h6>
            </div>
            <div class="col-2 border-right">
                <h6>Fecha entrega</h6>
            </div>
            <div class="col-3">
                <h6 class="text-primary">{{ currentDate | date }}</h6>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center mb-3">
            <div class="col-3 border-right">
                <h6>Código</h6>
            </div>
            <div class="col-4">
                <h6 class="text-primary font-weight-bold d-flex align-items-center">
                    PR-FR-INV-<input type="text" class="form-control form-control-sm w-25" formControlName="numeroReciboInventario">
                </h6>
            </div>
            <div class="col-2 border-right">
                <h6>Acción</h6>
            </div>
            <div class="col-3">
                <button class="btn btn-primary" data-toggle="modal" 
                    data-target="#modal-recepcion">Detallar recepción</button>
            </div>
        </div>

        <div class="col-lg-12 my-2">
            <p class="text-center text-white bg-dark pb-1"></p>
        </div>

        <div class="col-12">        
            <p>
                En la ciudad de Chiclayo el
                <span class="font-weight-bold">{{ currentDate | date }}</span>, 
                se procede a recepcionar la entrega del inventario asociado con el número de compra: 
                <span class="font-weight-bold">{{ currentOrdenCompra?.numero_orden_compra }}</span>, 
                actuando como actual responsable el(a) señor(a)
                <span class="font-weight-bold">{{ currentUser.nombres }} {{ currentUser.apellidos }}</span>
            </p>
            <p>
                A continuacion se da comienzo a la veificacion fisica de los materiales y equipos que a continuación se detallan:
            </p>
        </div>

        <ng-container *ngIf="itemsArray.length > 0; else noSelect">
            <table class="table border-bottom sh-section-print">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre del Producto</th>
                        <th scope="col">Costo unitario</th>
                        <th scope="col">Cantidad pedida</th>
                        <th scope="col">Cantidad recibida</th>
                        <th scope="col" colspan="2">Condición</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemsArray.controls; let i = index;">
                        <th>{{ item.get('idNumeroItem').value }}</th>
                        <td>{{ item.get('producto').value }}</td>
                        <td>{{ item.get('costoUnitarioActual').value | currency }}</td>
                        <td>{{ item.get('cantidadPedida').value }}</td>
                        <ng-container [formGroup]="item">
                            <td>
                                <input type="number" class="form-control" 
                                    formControlName="cantidadRecibida" (keyup)="handleCalculateTotal(i)"> 
                            </td>
                            <td>
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="1" class="custom-control-input" formControlName="estadoRecepcion"
                                        id="checkA{{ item.get('idNumeroItem').value }}">
                                    <label class="custom-control-label font-weight-bold" 
                                        for="checkA{{ item.get('idNumeroItem').value }}">B</label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="0" class="custom-control-input" formControlName="estadoRecepcion"
                                        id="checkB{{ item.get('idNumeroItem').value }}">
                                    <label class="custom-control-label font-weight-bold" 
                                        for="checkB{{ item.get('idNumeroItem').value }}">M</label>
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-template #noSelect>
            <section class="d-flex justify-content-center align-items-center my-5 w-100">
                <h2 class="text-dark">Seleccione una orden de compra</h2>
            </section>
        </ng-template>
        <div class="col-lg-12 mt-3">
            <ul class="list-unstyled">
                <div class="d-flex">
                    <li class="mx-2">Representación electrónica del </li>
                    <li class="font-weight-bold mr-1">RECIBO DE INVENTARIO</li>
                </div>
            </ul>
        </div>
    </div>
    <!--  -->
    <!-- MODAL -->
    <!--  -->
    <div class="modal fade" id="modal-recepcion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Orden de compra</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <section class="row form-group">
                            <div class="d-flex border-bottom border border-info w-100">
                                <ul class="list-unstyled">
                                    <li class="ml-3 mt-3">ORDEN DE COMPRA</li>
                                    <li class="ml-3 font-weight-bold">NUM. {{ currentOrdenCompra?.numero_orden_compra }}</li>
                                </ul>
                            </div>
                        </section>
                        <section class="row">
                            <article class="col-6 form-group">
                                <label>Factura de proveedor</label>
                                <input type="text" class="form-control"
                                    formControlName="idCodigoFactura"
                                    [readonly]="(currentOrdenCompra?.proveedor_factura)">
                            </article>
                            <article class="col-6">
                                <label>Comprobante de recepción</label>
                                <input type="text" class="form-control"
                                    formControlName="numeroComprobante">
                            </article>
                            <article class="col-6 form-group">
                                <label>Monto a deuda</label>
                                <input type="text" class="form-control" 
                                    formControlName="montoAdeuda" readonly="readonly">
                            </article>
                            <article class="col-6 form-group">
                                <label>Monto total a pagar</label>
                                <input type="text" class="form-control" readonly="readonly" 
                                    [value]="currentOrdenCompra?.precio_total_esperado | currency">
                            </article>
                            <article class="col-12 form-group">
                                <label>Transportista</label>
                                <input type="text" class="form-control" 
                                    formControlName="transportista">
                            </article>

                        </section>
                        <hr class="sidebar-divider">

                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary px-4" data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>