<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <div class="border row">
                <div class="row col-12">
                    <div class="col-lg-2">
                        <img src="" alt="">
                    </div>
                    <div class="col-lg-5">
                        <ul class="list-unstyled">
                            <li>Lambayeque tecnologies SAC</li>
                            <li>20550117968</li>
                            <li>Calle Pedro Ruiz 129, Surquillo, Lima, Lima</li>
                            <li>Perú</li>
                            <li>Teléfono: 2425154</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <ul class="list-unstyled">
                            <li>Fecha de emisión</li>
                            <li>Número de Factura</li>
                            <li>Número de Orden</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <ul class="list-unstyled">
                            <li>18 de febrero del 2019</li>
                            <li>18 de febrero del 2018</li>
                            <li>FF01-9</li>
                        </ul>
                    </div>
                </div>
            
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
            
            
                <div class="my-3 ml-5">
                    <h3 class="text-center"><dt>GUIA DE REMISION TOO1-2</dt></h3>
                </div>
            
            
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-12 pl-3 pr-3">
                            <p class="text-center text-white bg-dark py-2">Dirección de partida</p>
                        </div>
                        <div class="col-12 ml-3">
                            <p>Calle Pedro Ruiz, SURQUIÑÑP, LIMA, LIMA, PERÚ</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-12">
                            <p class="text-center text-white bg-dark py-2">Dirección de llegada</p>
                        </div>
                        <div class="col-12 ml-3">
                            <p>CAL. ELIAS NRO. 126 DPT. 303 LIMA, MIRAFLORES, LIMA, LIMA. PERÚ</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-12">
                            <p class="text-center text-white bg-dark py-2">REMITENTE</p>
                        </div>
                        <div class="col-12 ml-3">
                            <p>SISTEMAS DE PUBLICIDAD SAC</p>
                            <div class="d-flex">
                                <p class="font-weight-bold mr-5">RUC </p>
                                <p>20550117659</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <p class="text-center text-white bg-dark py-2">DESTINATARIO</p>
                        </div>
                        <div class="col-12 ml-3">
                            <p>SERVICIOS DE IMAGENES MÉDICO DENTALES E.I.R.L.- SERIMED E.I.R.L.</p>
                            <div class="d-flex">
                                <p class="font-weight-bold mr-5">RUC </p>
                                <p>20550117659</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Cant.</th>
                                    <th scope="col">Unid.</th>
                                    <th scope="col">Peso(Kg)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>33880971</td>
                                    <td>500 DVD publicitario venta</td>
                                    <td>1</td>
                                    <td>Unid.</td>
                                    <td>20 Kg.</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>33880971</td>
                                    <td>500 DVD publicitario venta</td>
                                    <td>1</td>
                                    <td>Unid.</td>
                                    <td>20 Kg.</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>33880971</td>
                                    <td>500 DVD publicitario venta</td>
                                    <td>1</td>
                                    <td>Unid.</td>
                                    <td>20 Kg.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-12">
                            <p class="text-center text-white bg-dark py-2">TRANSPORTISTA</p>
                        </div>
                        <div class="col-12 ml-3">
                            <ul class="list-unstyled">
                                <div class="d-flex">
                                    <li class="font-weight-bold mr-5">Empresa</li>
                                    <li class="ml-3">LAMBAYEQUE TECNOLOGI</li>
                                </div>
                                <div class="d-flex">
                                    <li class="font-weight-bold mr-5">RUC</li>
                                    <li class="ml-5">20550117968</li>
                                </div>
                                <div class="d-flex">
                                    <li class="font-weight-bold mr-5">Doc. sustento</li>
                                    <li>-</li>
                                </div>
                                <div class="d-flex">
                                    <li class="font-weight-bold mr-5">Conductor</li>
                                    <li>Gerardo Espinoza</li>
                                </div>
                                <div class="d-flex">
                                    <li class="font-weight-bold mr-3">DNI conductor</li>
                                    <li>068548952</li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-12">
                            <p class="text-center text-white bg-dark py-2">DATOS DE LA UNIDAD DE TRANSPORTE</p>
                        </div>
                        <div class="col-12 ml-3">
                            <ul class="list-unstyled">
                                <div class="d-flex">
                                    <li class="font-weight-bold mr-5">Nomb Producto</li>
                                    <li class="ml-2">Laptop Lenovo</li>
                                </div>
                                <div class="d-flex">
                                    <li class="font-weight-bold mr-5">N° de cetificado</li>
                                    <li class="ml-1">20550117968</li>
                                </div>
                                <div class="d-flex">
                                    <li class="font-weight-bold mr-5">Número de placa</li>
                                    <li>D5G845</li>
                                </div>
                                <div class="d-flex">
                                    <li class="font-weight-bold mr-5">MTC</li>
                                    <li></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p class="text-center text-white bg-dark py-2">MOTIVO DEL TRANSPORTE</p>
                        <div class="d-flex border-bottom">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    <li class="ml-3">1. Venta X</li>
                                    <li class="ml-3">2. Venta sujeta a confirmación</li>
                                    <li class="ml-3">3. Compra</li>
                                    <li class="ml-3">4. Consignación</li>
                                    <li class="ml-3">5. Devolución</li>
                                </ul>
                            </div>
                            <div class="col-lg-5">
                                <ul class="list-unstyled">
                                    <li>6. Traslado entre abastecimientos de la misma empresa</li>
                                    <li>7. Traslado de bienes para transformacion</li>
                                    <li>8. Recojo de bienes</li>
                                    <li>9. Traslado por emision itinerante de comprobante de pago</li>
                                    <li>10. Traslado zona primaria</li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <ul class="list-unstyled">
                                    <li>11. Importación</li>
                                    <li>12. Exportación</li>
                                    <li>13. Venta con entrega</li>
                                    <li>14. Otros</li>
                                </ul>
                            </div>
                        </div>
            
                    </div>
                    <div class="col-lg-12 mt-3">
                        <ul class="list-unstyled">
                            <div class="d-flex">
                                <li class="mx-2">Representación impresa de la </li>
                                <li class="font-weight-bold mr-1">GUIA DE REMISIÓN ELECTRÓNICA</li>
                                <li class="ml-1">, para consultar el documento vista</li>
                            </div>
                            <li><a href="" class="mx-2">https://LambayequeTecnologies.com/pe</a></li>
                        </ul>
                    </div>
            
                </div>
            </div>
            
        </div>
    </div>
</div>
