<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="u-pointer-events-none" href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['registroRecomendacion']" routerLinkActive="text-dark font-weight-bold"
                            class="u-pointer-events-none">Registrar Recomendación</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['tomarOrden']" routerLinkActive="text-dark font-weight-bold"
                            class="u-pointer-events-none">Tomar Orden</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['entregarProducto']" routerLinkActive="text-dark font-weight-bold"
                            class="u-pointer-events-none">Entregar Producto</a>
                    </li>
                    <!-- <li class="breadcrumb-item">
                        <a [routerLink]="['productosDevueltos']" routerLinkActive="text-dark font-weight-bold"
                            class="u-pointer-events-none">Producto devueltos</a>
                    </li> -->
                    
                </ol>
            </nav>
        </div>
    </div>
    <div class="mx-3">
        <router-outlet></router-outlet>
    </div>

</div>