<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['registroRecomendacion']">Registrar Recomendación</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['tomarOrden']">Tomar Orden</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['entregarProducto']">Entregar Producto</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['productosDevueltos']">Producto devueltos</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="mx-3">
        <router-outlet></router-outlet>
    </div>

</div>