<div class="row mb-3">
    <div class="col-lg-4 d-flex">
        <button class="btn btn-primary text-lg-center mr-2 w-100" data-toggle="modal" data-target="#modal-crear-orden">Crear</button>
        <button class="btn btn-secondary text-lg-center w-100" data-toggle="modal" data-target="#modal-ver">Editar</button>
    </div>
    <div class="col-lg-4 d-flex">
        <select class="form-control mr-2">
            <option>Imprimir</option>
        </select>
        <select class="form-control">
            <option>Accion</option>
        </select>
    </div>
</div>
<div class="border row">
    <div class="col-12 d-flex mt-3">
        <h3 class="text-muted"> /WH/OUT/000005</h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha Pedido</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Asistente de Ventas</h6>
        </div>
        <div class="col-4">
            <h5 class="text-primary">Kevin Venegas Cordova</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Cliente</h6>
        </div>
        <div class="col-8">
            <h5 class="text-primary">Angie Fiorella</h5>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Producto</th>
                <th class="text-center" scope="col">Cant Disponible</th>
                <th class="text-center" scope="col">Cant. Solicitada</th>
                <th class="text-center" scope="col">Cant. Orden</th>
                <th class="text-center" scope="col">Cst. Unitario</th>
                <th class="text-center" scope="col">Cst Productos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">0.0000</td>
                <td class="text-center">0.000 Unidades</td>
                <td class="text-center">1500</td>
                <td class="text-center">1500</td>
            </tr>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">0.0000</td>
                <td class="text-center">0.000 Unidades</td>
                <td class="text-center">1500</td>
                <td class="text-center">15800</td>
            </tr>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">100</td>
                <td class="text-center">0.0000</td>
                <td class="text-center">0.000 Unidades</td>
                <td class="text-center">1500</td>
                <td class="text-center">85422</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex align-items-end ml-3">
        <h5>Costo Total de pedidos $./17452</h5>
    </div>

    <div class="col-lg-12 mt-3">
        <ul class="list-unstyled">
            <div class="d-flex">
                <li class="mx-2">Representación impresa de la </li>
                <li class="font-weight-bold mr-1">GUIA DE VERIFICACIÓN DE DISPONIBILIDAD</li>
                <li class="ml-1">, para consultar el documento vista</li>
            </div>
            <li><a href="" class="mx-2">https://LambayequeTecnologies.com/pe</a></li>
        </ul>
    </div>
</div>
<div class="col-lg-12 my-3">
    <p class="text-center text-white bg-dark py-1"></p>
</div>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mx-2" data-dismiss="modal">Entrega del Producto</button>
</div>

<!-- --------------------------------------------------------- -->
<!-- MODAL PARA CREAR UNA NUEVA VERIFICACION DE DISPONIBILIDAD -->
<!-- --------------------------------------------------------- -->

<div class="modal fade" id="modal-crear-orden" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tomar Orden de la Recomendación</h5>
            </div>
            <div class="modal-body">
                <form id="formulario" class="formulario" method="POST" action="">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-6 d-flex justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Ver Dispo</label>
                            <div class="col-6">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex">
                            <label for="codigo" class="col-form-label">Empleado</label>
                            <div class="col-6">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-6 d-flex justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Fecha Pedido</label>
                            <div class="col-7">
                                <input type="date" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex">
                            <label for="codigo" class="col-form-label">Fecha Entrega</label>
                            <div class="col-7">
                                <input type="date" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-10 d-flex">
                            <label for="codigo" class=" col-form-label">Condicion</label>
                            <div class="col-12">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Producto</th>
                                <th scope="col" class="text-center">Cant. Disponible</th>
                                <th scope="col" class="text-center">Cant. Solicitada</th>
                                <th scope="col" class="text-center">Cost. Unitario</th>
                                <th scope="col" class="text-center">Cant. de Orden</th>
                                <th scope="col" class="text-center">Cost. Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col" class="text-center" class="text-center">Laptop</th>
                                <td scope="col" class="text-center" class="text-center">15</td>
                                <td scope="col" class="text-center" class="text-center">20</td>
                                <td scope="col" class="text-center" class="text-center">30</td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-4">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-4">
                                        <input type="text" class="form-control" placeholder="Jane Doe" readonly>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col" class="text-center">Laptop</th>
                                <td scope="col" class="text-center">15</td>
                                <td scope="col" class="text-center">20</td>
                                <td scope="col" class="text-center">30</td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-4">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-4">
                                        <input type="text" class="form-control" placeholder="Jane Doe" readonly>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col" class="text-center">Laptop</th>
                                <td scope="col" class="text-center">15</td>
                                <td scope="col" class="text-center">20</td>
                                <td scope="col" class="text-center">30</td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-4">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-4">
                                        <input type="text" class="form-control" placeholder="Jane Doe" readonly>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-lg-end">
                        <label for="codigo" class="col-form-label">Precio Total</label>
                        <div class="col-2">
                            <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary mx-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>