<div class="row mb-3">
    <div class="col-lg-12 d-flex justify-content-between">
       <button type="button" class="btn btn-primary mx-2"  
        (click)="saveOrden()">
            Registrar orden
        </button>
    </div>
</div>
<div class="border row" [formGroup]="ordenForm">
    <div class="col-12 d-flex my-3">
        <div class="col-3 border-right">
            <h6>Número de orden</h6>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" 
                formControlName="numeroOrden">
        </div>
        <div class="col-2">
            <h6>Empresa</h6>
        </div>
        <div class="col-3">
            <h6 class="text-primary">LAMBAYEQUE TECHNOLOGIES</h6>
        </div>
        
    </div>
    <div class="col-12 d-flex my-3">
        <div class="col-3 border-right">
            <h6>Fecha Pedido</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">{{ currentDate | date }}</h6>
        </div>
        <div class="col-2">
            <h6>Fecha prometida</h6>
        </div>
        <div class="col-3">
            <input type="date" class="form-control" 
                formControlName="fechaPrometida">
        </div>
    </div>
    <div class="col-12 d-flex my-3">
        <div class="col-3 border-right">
            <h6>Condiciones</h6>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" 
                formControlName="descripcion">
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Asistente de Ventas</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">{{ currentUser.nombres }}  {{ currentUser.apellidos }}</h6>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Cliente</h6>
        </div>
        <div class="col-8">
            <h6 class="text-primary">{{ currentClient?.nombre }}</h6>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Producto</th>
                <th class="text-center" scope="col">Disp Venta</th>
                <th class="text-center" scope="col">Cst Unitario</th>
                <th class="text-center" scope="col">Cnt. Disponible</th>
                <th class="text-center" scope="col">Cnt. Solicitada Anterior</th>
                <th class="text-center" scope="col">Cnt. Solicitada</th>
                <th class="text-center" scope="col">Mnt. Total</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="itemsArray.length > 0">
                <tr *ngFor="let item of itemsArray.controls; let i = index;">
                    <ng-container [formGroup]="item">
                        <th scope="col" class="text-center">
                            {{ item.get('idNumeroItem').value }}
                        </th>
                        <td scope="col" class="text-center">
                            {{ item.get('nombreItem').value }}
                        </td>
                        <td scope="col" class="text-center">
                            {{ item.get('costoUnitario').value }}
                        </td>
                        <td scope="col" class="text-center">
                            {{ item.get('cantidadDisponible').value }}                            
                        </td>
                        <td scope="col" class="text-center">
                            {{ item.get('cantidadSolicitadaAnt').value }}
                        </td>
                        <td scope="col" class="text-center">
                            <div class="px-4">
                                <input type="number" class="form-control" 
                                    formControlName="cantidadSolicitada" (keyup)="handleCalculateTotal(i)">
                            </div>
                        </td>
                        <td scope="col" class="text-center">
                            {{ item.get('costoTotal').value }}                            
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <div class="d-flex justify-content-end mr-3 w-100">
        <h5>Costo Total de pedidos {{ ordenForm.get('precioTotalEsperado').value | currency }}</h5>
    </div>

    <div class="col-lg-12 mt-3">
        <ul class="list-unstyled">
            <div class="d-flex">
                <li class="mx-2">Representación impresa de la </li>
                <li class="font-weight-bold mr-1">GUIA DE TOMA DE ORDEN</li>
                <li class="ml-1">, para consultar el documento vista</li>
            </div>
            <li><a href="" class="mx-2">https://LambayequeTecnologies.com/pe</a></li>
        </ul>
    </div>
</div>
<div class="col-lg-12 my-3">
    <p class="text-center text-white bg-dark py-1"></p>
</div>

<!-- --------------------------------------------------------- -->
<!-- MODAL PARA CREAR UNA NUEVA VERIFICACION DE DISPONIBILIDAD -->
<!-- --------------------------------------------------------- -->

<div class="modal fade" id="modal-crear-orden" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Tomar Orden de la Recomendación</h6>
            </div>
            <div class="modal-body">
                <form id="formulario" class="formulario" method="POST" action="">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-6 d-flex justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Ver Dispo</label>
                            <div class="col-6">
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex">
                            <label for="codigo" class="col-form-label">Empleado</label>
                            <div class="col-6">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-6 d-flex justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Fecha Pedido</label>
                            <div class="col-7">
                                <input type="date" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex">
                            <label for="codigo" class="col-form-label">Fecha Entrega</label>
                            <div class="col-7">
                                <input type="date" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-10 d-flex">
                            <label for="codigo" class=" col-form-label">Condicion</label>
                            <div class="col-12">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Producto</th>
                                <th scope="col" class="text-center">Cant. Disponible</th>
                                <th scope="col" class="text-center">Cant. Solicitada</th>
                                <th scope="col" class="text-center">Cost. Unitario</th>
                                <th scope="col" class="text-center">Cant. de Orden</th>
                                <th scope="col" class="text-center">Descuento</th>
                                <th scope="col" class="text-center">Cost. Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col" class="text-center">Laptop</th>
                                <td scope="col" class="text-center">15</td>
                                <td scope="col" class="text-center">20</td>
                                <td scope="col" class="text-center">30</td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-2">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-2">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-2">
                                        <input type="text" class="form-control" placeholder="Jane Doe" readonly>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col" class="text-center">Laptop</th>
                                <td scope="col" class="text-center">15</td>
                                <td scope="col" class="text-center">20</td>
                                <td scope="col" class="text-center">30</td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-2">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-2">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-2">
                                        <input type="text" class="form-control" placeholder="Jane Doe" readonly>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col" class="text-center">Laptop</th>
                                <td scope="col" class="text-center">15</td>
                                <td scope="col" class="text-center">20</td>
                                <td scope="col" class="text-center">30</td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-2">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-2">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-2">
                                        <input type="text" class="form-control" placeholder="Jane Doe" readonly>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-lg-end">
                        <label for="codigo" class="col-form-label">Precio Total</label>
                        <div class="col-2">
                            <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary mx-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>