<div class="mx-4 border row">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <h3 class="text-muted ml-5 mb-5 mt-3"> FORMATO ENTREGA DE INVENTARIO</h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3  border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha entrega</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Versión</h6>
        </div>
        <div class="col-4">
            <h5 class="text-primary">00.00.001</h5>
        </div>
        <div class="col-2">
            <h6>Código</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">PR-FR-INV-00</h5>
        </div>
    </div>

    <div class="col-lg-12 my-2">
        <p class="text-center text-white bg-dark pb-1"></p>
    </div>

    <div class="col-lg-12 mt-1 ml-2">
        <ul class="list-unstyled">
            <div class="row">
                <li class="mx-2">En la ciudad de Lambayeque los</li>
                <li class="font-weight-bold mr-1">CITY ENTREGA</li>
                <li class="mx-2">dia del mes de</li>
                <li class="font-weight-bold mr-1"> 04 de enero</li>
                <li class="mx-1">, se procede a hacer la entrega del inventario de</li>
                <li class="font-weight-bold mr-1">LAPTOPS014</li>
                <li class="mx-2">actualdo como actual responsable el(a) señor(a)</li>
                <li class="font-weight-bold mr-1">Venegas Cordova</li>
            </div>
        </ul>
        <ul class="list-unstyled">
            <div class="row">
                <li class="mx-2">A continuacion se da comienzo a la veificacion fisica de los materiales y equipos que a continuación se detallan</li>
            </div>
        </ul>
    </div>

    <table class="table mx-5 border-bottom">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Nombre del Producto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Condición
                    <div>
                        <button type="button" class="btn btn-dark">B</button>
                        <button type="button" class="btn btn-dark">M</button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <div class="form-check form-check-inline ml-3 mt-4">
                    <input class="form-check-input ml-2" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <input class="form-check-input ml-4" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                </div>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <div class="form-check form-check-inline ml-3 mt-4">
                    <input class="form-check-input ml-2" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2">
                    <input class="form-check-input ml-4" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2">
                </div>
            </tr>
        </tbody>
    </table>
    <div class="col-lg-12 mt-3">
        <ul class="list-unstyled">
            <div class="d-flex">
                <li class="mx-2">Representación impresa de la </li>
                <li class="font-weight-bold mr-1">GUIA DE REMISIÓN ELECTRÓNICA</li>
                <li class="ml-1">, para consultar el documento vista</li>
            </div>
            <li><a href="" class="mx-2">https://LambayequeTecnologies.com/pe</a></li>
        </ul>
    </div>
</div>