<div class="row mb-3">
    <div class="col-lg-4 d-flex">
        <button class="btn btn-primary text-lg-center mr-2 w-100" data-toggle="modal" data-target="#modal-crear-tiempo">Crear</button>
        <button class="btn btn-secondary text-lg-center w-100" data-toggle="modal" data-target="#modal-ver">Editar</button>
    </div>
    <div class="col-lg-4 d-flex">
        <select class="form-control mr-2">
            <option>Imprimir</option>
        </select>
        <select class="form-control">
            <option>Accion</option>
        </select>
    </div>
</div>
<div class="border row">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <h3 class="text-muted ml-5 mb-5 mt-3"> Registrar tiempo </h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha revisión</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Nombre Empleado</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">Luigui Pejerrey</h6>
        </div>
        <div class="col-2 ">
            <h6>Número Empleado</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">000015</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Semanas</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">20/03/2008 al 08/03/2020</h6>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">02</th>
                <th scope="col" class="text-center">03</th>
                <th scope="col" class="text-center">04</th>
                <th scope="col" class="text-center">05</th>
                <th scope="col" class="text-center">06</th>
                <th scope="col" class="text-center">07</th>
                <th scope="col" class="text-center">08</th>
            </tr>
            <tr class="thead-dark">
                <th scope="col" class="text-center">Lunes</th>
                <th scope="col" class="text-center">Martes</th>
                <th scope="col" class="text-center">Miercoles</th>
                <th scope="col" class="text-center">Jueves</th>
                <th scope="col" class="text-center">Viernes</th>
                <th scope="col" class="text-center">Sabado</th>
                <th scope="col" class="text-center">Domingo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">8 a.m</th>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <th class="text-center">8 a.m</th>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <th class="text-center">8 a.m</th>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center">8 a.m</td>
                <td class="text-center"></td>
            </tr>
        </tbody>
    </table>

    <div class="col-12 ml-3">
        <ul class="list-unstyled">
            <div class="d-flex">
                <li class="font-weight-bold mr-5">Regular:</li>
                <li class="ml-3">40</li>
            </div>
            <div class="d-flex">
                <li class="font-weight-bold mr-3">Sobretiempo:</li>
                <li class="ml-2">6</li>
            </div>
            <div class="d-flex">
                <li class="font-weight-bold mr-4">Total :</li>
                <li class="ml-5">46</li>
            </div>
        </ul>
    </div>
</div>
<div class="modal fade" id="modal-crear-tiempo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de Recomendación</h5>
            </div>
            <div class="modal-body">
                <form id="formulario" class="formulario">
                    <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                    <div class="form-group row">
                        <div class="col-lg-6 d-flex justify-content-md-center">
                            <label for="codigo" class=" col-form-label">Codigo</label>
                            <div class="col-6">
                                <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex">
                            <label for="codigo" class="col-form-label">Empleado</label>
                            <div class="col-6">

                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Lunes</th>
                                <th scope="col" class="text-center">Martes</th>
                                <th scope="col" class="text-center">Miercoles</th>
                                <th scope="col" class="text-center">Jueves</th>
                                <th scope="col" class="text-center">Viernes</th>
                                <th scope="col" class="text-center">Sabado</th>
                                <th scope="col" class="text-center">Domingo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </th>
                                <td scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </th>
                                <td scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </th>
                                <td scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                                <td scope="col" class="text-center">
                                    <div class="d-flex px-3">
                                        <input type="text" class="form-control" placeholder="Jane Doe">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary mx-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>