<div class="border col-lg-12">
    <div class="d-flex">
        <!-- --------------- -->
        <!-- Codigo Compra -->
        <!-- --------------- -->
        <h3 class="text-muted ml-5 mb-5 mt-3"> /WH/OUT/000005</h3>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Empresa</h6>
        </div>
        <div class="col-4">
            <h6 class="text-primary">LAMBAYEQUE TECNOLOGIES</h6>
        </div>
        <div class="col-2 ">
            <h6>Fecha prevista</h6>
        </div>
        <div class="col-3">
            <h5 class="text-primary">12/01/2020 18:48:03</h5>
        </div>
    </div>
    <div class="col-12 d-flex mb-3">
        <div class="col-3 border-right">
            <h6>Ubicacion de Origen</h6>
        </div>
        <div class="col-4">
            <h5 class="text-primary">WH/Stock</h5>
        </div>
        <div class="col-3">
            <h6>Documento Origen</h6>
        </div>
        <div class="col-2">
            <h5 class="text-primary">SO022</h5>
        </div>
    </div>
    <div class="col-12 d-flex">
        <div class="col-8 d-flex">
            <button class="btn btn-primary">Operaciones</button>
            <button class="btn btn-primary">Info adicional</button>
            <button class="btn btn-primary">Nota</button>
        </div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Producto</th>
                <th class="text-center" scope="col">Demanda Inicial</th>
                <th class="text-center" scope="col">Reservado</th>
                <th class="text-center" scope="col">Cantidad Disponible para la venta</th>
                <th class="text-center" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">0.0000</td>
                <td class="text-center">0.000 Unidades</td>
                <td class="text-center"><i class="fas fa-list"></i></td>
            </tr>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">1,000</td>
                <td class="text-center">0.0000</td>
                <td class="text-center">0.000 Unidades</td>
                <td class="text-center"><i class="fas fa-list"></i></td>
            </tr>
            <tr>
                <th class="text-center">Laptop Lenovo</th>
                <td class="text-center">100</td>
                <td class="text-center">0.0000</td>
                <td class="text-center">0.000 Unidades</td>
                <td class="text-center"><i class="fas fa-list"></i></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Registro de Recomendación</h5>
        </div>
        <div class="modal-body">
            <form id="formulario" class="formulario" method="POST" action="">
                <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                <div class="form-group row">
                    <div class="col-lg-4 d-flex">
                        <label for="codigo" class=" col-form-label">Ver Dispo</label>
                        <div class="col-8">
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>01 REGISTRO VENTAS 1</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <label for="codigo" class="col-form-label">Producto</label>
                        <div class="col-8">
                            <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <label for="codigo" class="col-form-label">Empleado</label>
                        <div class="col-8">
                            <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe" readonly>
                        </div>
                    </div>
                </div>

                <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                <div class="form-group row">
                    <div class="col-lg-4 d-flex">
                        <label for="codigo" class=" col-form-label">Fecha Pedido</label>
                        <div class="col-8">
                            <input type="date" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <label for="codigo" class="col-form-label">Fecha Entrega</label>
                        <div class="col-8">
                            <input type="date" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <label for="codigo" class="col-form-label">Precio Total</label>
                        <div class="col-6">
                            <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                        </div>
                    </div>
                </div>
                <!-- Campo INGRESO PRODUCTO - INGRESO CLIENTE  -->
                <div class="form-group row">
                    <div class="col-lg-10 d-flex">
                        <label for="codigo" class=" col-form-label">Condicion</label>
                        <div class="col-12">
                            <input type="text" class="form-control mr-2" id="inlineFormInputName" placeholder="Jane Doe">
                        </div>
                    </div>
                </div>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary mx-2">Guardar</button>
                    <button type="button" class="btn btn-primary mx-2">Entregar Producto</button>
                </div>
            </form>
        </div>
    </div>

</div>