/* You can add global styles to this file, and also import other style files */
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #858796;
    content: ">";
}

.border-search{
    border: 1px solid hsla(255, 69%, 59%, .4) !important;
}

body{
    min-height: 100vh;
}